back/n8n/workflows/admin.validate.json
{
  "name": "admin.validate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-validate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "admin-validate"
    },
    {
      "parameters": {
        "jsCode": "// Extract token from body\nconst input = $input.item.json;\nconst body = input.body || input;\n\nconst token = body.token || '';\n\nif (!token) {\n  return {\n    json: {\n      error: 'bad_request',\n      status: 400,\n      message: 'Token is required'\n    }\n  };\n}\n\nreturn {\n  json: {\n    token: token.trim()\n  }\n};"
      },
      "id": "extract-token",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-extract-error",
      "name": "IF Extract Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "response-extract-error",
      "name": "Respond Extract Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT s.id, s.admin_user_id, s.expires_at, s.ip, s.user_agent, u.username, u.is_active\nFROM admin_sessions s\nJOIN admin_users u ON u.id = s.admin_user_id\nWHERE s.token = CAST('{{ $json.token }}' AS UUID)\n  AND s.expires_at > NOW()\n  AND u.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "get-session",
      "name": "Get Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 500],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "session-found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-session-found",
      "name": "IF Session Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', status: 401, message: 'Invalid or expired token' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "response-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\nconst session = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      admin_user_id: session.admin_user_id,\n      username: session.username,\n      expires_at: session.expires_at\n    },\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 600]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 600]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "IF Extract Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Extract Error": {
      "main": [
        [
          {
            "node": "Respond Extract Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session": {
      "main": [
        [
          {
            "node": "IF Session Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found": {
      "main": [
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T20:30:00.000Z",
  "versionId": "1"
}

