back/n8n/workflows/admin.user-limits-update.json
{
  "name": "admin.user-limits-update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-user-limits-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "webhookId": "admin-user-limits-update"
    },
    {
      "parameters": {
        "jsCode": "// Extract token and data\nconst input = $input.item.json;\nconst headers = input.headers || {};\nconst body = input.body || input;\n\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      error: 'unauthorized',\n      status: 401,\n      message: 'Missing or invalid Authorization header'\n    }\n  };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\n\nif (!body.user_id || !body.limit_type || body.limit_value === undefined) {\n  return {\n    json: {\n      error: 'bad_request',\n      status: 400,\n      message: 'Missing required fields: user_id, limit_type, limit_value'\n    }\n  };\n}\n\nreturn {\n  json: {\n    token: token,\n    userId: body.user_id,\n    limitType: body.limit_type,\n    limitValue: parseInt(body.limit_value),\n    resetAt: body.reset_at || null,\n    ip: headers['x-forwarded-for'] || headers['x-real-ip'] || 'unknown',\n    user_agent: headers['user-agent'] || 'unknown'\n  }\n};"
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "IF Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.psayha.ru/webhook/admin-validate",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Extract Data').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "validate-admin",
      "name": "Validate Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Handle both success and error cases from HTTP request\nconst httpResponse = $input.item.json;\n\n// Check if this is an error response\nif (httpResponse.error || httpResponse.statusCode >= 400) {\n  return { json: { success: false, error: httpResponse.error?.message || 'Admin validation request failed' } };\n}\n\nconst responseText = httpResponse.data;\n\nlet parsedData;\nif (typeof responseText === 'string') {\n  try {\n    parsedData = JSON.parse(responseText);\n  } catch (e) {\n    return { json: { success: false, error: 'Failed to parse admin response' } };\n  }\n} else {\n  parsedData = responseText;\n}\n\nif (!parsedData || Object.keys(parsedData).length === 0) {\n  return { json: { success: false, error: 'Empty admin response' } };\n}\n\nif (parsedData.success === undefined) {\n  return { json: { success: false, error: 'Invalid admin response format' } };\n}\n\nreturn { json: parsedData };"
      },
      "id": "parse-admin-response",
      "name": "Parse Admin Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-admin-success",
      "name": "IF Admin Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', status: 401, message: 'Invalid or expired admin token' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-admin-error",
      "name": "Respond Admin Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_limits (user_id, limit_type, limit_value, reset_at)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (user_id, limit_type) DO UPDATE SET\n  limit_value = EXCLUDED.limit_value,\n  reset_at = EXCLUDED.reset_at,\n  updated_at = NOW()\nRETURNING id, user_id, limit_type, limit_value, reset_at;",
        "options": {
          "queryReplacement": "={{ [$('Extract Data').item.json.userId, $('Extract Data').item.json.limitType, $('Extract Data').item.json.limitValue, $('Extract Data').item.json.resetAt || null] }}"
        }
      },
      "id": "update-limit",
      "name": "Update Limit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1450,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Handle database errors\nconst dbResult = $input.item.json;\n\n// Check if this is an error response (n8n error format)\nif (dbResult.error) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: dbResult.error.message || dbResult.error.toString() || 'Failed to update user limit'\n    }\n  };\n}\n\n// Check if result is null or undefined\nif (dbResult === null || dbResult === undefined) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: 'Database returned null result'\n    }\n  };\n}\n\n// PostgreSQL INSERT/UPDATE returns array with affected rows\nif (!Array.isArray(dbResult)) {\n  // Check if it's an error object\n  if (dbResult.message || dbResult.code) {\n    return {\n      json: {\n        error: 'database_error',\n        status: 500,\n        message: dbResult.message || 'Database query failed'\n      }\n    };\n  }\n  // If it's an object but not an array, wrap it\n  return {\n    json: {\n      result: [dbResult]\n    }\n  };\n}\n\n// Check if limit was updated (array is empty means no rows affected)\nif (dbResult.length === 0) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: 'Failed to update user limit'\n    }\n  };\n}\n\n// Success case - return result\nreturn {\n  json: {\n    result: dbResult\n  }\n};"
      },
      "id": "handle-db-result",
      "name": "Handle DB Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-field-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-db-error",
      "name": "IF DB Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1850,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 500 }}"
        }
      },
      "id": "respond-db-error",
      "name": "Respond DB Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1850,
        500
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "audit_events",
          "mode": "list",
          "cachedResultName": "audit_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Extract Data').item.json.userId }}",
            "action": "admin.user_limits_updated",
            "resource_type": "user_limits",
            "resource_id": "={{ $('Handle DB Result').item.json.result && $('Handle DB Result').item.json.result[0] ? $('Handle DB Result').item.json.result[0].id : null }}",
            "metadata": "={{ JSON.stringify({ user_id: $('Extract Data').item.json.userId, limit_type: $('Extract Data').item.json.limitType, new_value: $('Extract Data').item.json.limitValue, reset_at: $('Extract Data').item.json.resetAt }) }}",
            "ip": "={{ $('Extract Data').item.json.ip }}",
            "user_agent": "={{ $('Extract Data').item.json.user_agent }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "log-audit-event",
      "name": "Log Audit Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2050,
        800
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "OPy15M2cOLEss5yi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\n// Format response\nconst dbData = $('Handle DB Result').item.json;\nconst limit = dbData.result && dbData.result[0] ? dbData.result[0] : {};\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      id: limit.id || null,\n      userId: limit.user_id || null,\n      limitType: limit.limit_type || '',\n      limitValue: limit.limit_value || 0,\n      resetAt: limit.reset_at || null\n    },\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2450,
        700
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "IF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Admin": {
      "main": [
        [
          {
            "node": "Parse Admin Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Admin Response": {
      "main": [
        [
          {
            "node": "IF Admin Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Admin Success": {
      "main": [
        [
          {
            "node": "Respond Admin Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Limit": {
      "main": [
        [
          {
            "node": "Handle DB Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle DB Result": {
      "main": [
        [
          {
            "node": "IF DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF DB Error": {
      "main": [
        [
          {
            "node": "Respond DB Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Audit Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Audit Event": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "admin-user-limits-update",
  "meta": {
    "instanceId": "lumon-n8n"
  },
  "tags": []
}