back/n8n/workflows/admin.companies-list.json
{
  "name": "admin.companies-list",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin-companies-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "webhookId": "admin-companies-list"
    },
    {
      "parameters": {
        "jsCode": "// Extract token\nconst input = $input.item.json;\nconst headers = input.headers || {};\n\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      error: 'unauthorized',\n      status: 401,\n      message: 'Missing or invalid Authorization header'\n    }\n  };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn {\n  json: {\n    token: token\n  }\n};"
      },
      "id": "extract-token",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "IF Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.psayha.ru/webhook/admin-validate",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Extract Token').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "validate-admin",
      "name": "Validate Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Handle both success and error cases from HTTP request\nconst httpResponse = $input.item.json;\n\n// Check if this is an error response\nif (httpResponse.error || httpResponse.statusCode >= 400) {\n  return { json: { success: false, error: httpResponse.error?.message || 'Admin validation request failed' } };\n}\n\nconst responseText = httpResponse.data;\n\nlet parsedData;\nif (typeof responseText === 'string') {\n  try {\n    parsedData = JSON.parse(responseText);\n  } catch (e) {\n    return { json: { success: false, error: 'Failed to parse admin response' } };\n  }\n} else {\n  parsedData = responseText;\n}\n\nif (!parsedData || Object.keys(parsedData).length === 0) {\n  return { json: { success: false, error: 'Empty admin response' } };\n}\n\nif (parsedData.success === undefined) {\n  return { json: { success: false, error: 'Invalid admin response format' } };\n}\n\nreturn { json: parsedData };"
      },
      "id": "parse-admin-response",
      "name": "Parse Admin Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-admin-success",
      "name": "IF Admin Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', status: 401, message: 'Invalid or expired admin token' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-admin-error",
      "name": "Respond Admin Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.id,\n  c.name,\n  c.created_at,\n  COUNT(DISTINCT uc.user_id) as user_count,\n  json_agg(\n    json_build_object(\n      'id', u.id,\n      'username', u.username,\n      'role', uc.role\n    )\n  ) FILTER (WHERE u.id IS NOT NULL) as users\nFROM companies c\nLEFT JOIN user_companies uc ON c.id = uc.company_id\nLEFT JOIN users u ON uc.user_id = u.id\nGROUP BY c.id, c.name, c.created_at\nORDER BY c.created_at DESC;",
        "options": {}
      },
      "id": "get-companies",
      "name": "Get Companies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1450,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Handle database errors\nconst dbResult = $input.item.json;\n\n// Check if this is an error response (n8n error format)\nif (dbResult.error) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: dbResult.error.message || dbResult.error.toString() || 'Failed to fetch companies'\n    }\n  };\n}\n\n// Check if result is null or undefined\nif (dbResult === null || dbResult === undefined) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: 'Database returned null result'\n    }\n  };\n}\n\n// PostgreSQL node returns array directly when successful\nif (!Array.isArray(dbResult)) {\n  // Check if it's an error object\n  if (dbResult.message || dbResult.code) {\n    return {\n      json: {\n        error: 'database_error',\n        status: 500,\n        message: dbResult.message || 'Database query failed'\n      }\n    };\n  }\n  // If it's an object but not an array, wrap it\n  return {\n    json: {\n      companies: [dbResult]\n    }\n  };\n}\n\n// Success case - return array\nreturn {\n  json: {\n    companies: dbResult\n  }\n};"
      },
      "id": "handle-db-result",
      "name": "Handle DB Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-field-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-db-error",
      "name": "IF DB Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1850,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 500 }}"
        }
      },
      "id": "respond-db-error",
      "name": "Respond DB Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1850,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\n// Format response\nconst dbData = $('Handle DB Result').item.json;\nconst companies = dbData.companies || [];\n\nconst formatted = companies.map(c => ({\n  id: c.id,\n  name: c.name || '',\n  createdAt: c.created_at || null,\n  userCount: parseInt(c.user_count) || 0,\n  users: c.users || []\n}));\n\nreturn {\n  json: {\n    success: true,\n    data: formatted,\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2250,
        700
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "IF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Admin": {
      "main": [
        [
          {
            "node": "Parse Admin Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Admin Response": {
      "main": [
        [
          {
            "node": "IF Admin Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Admin Success": {
      "main": [
        [
          {
            "node": "Respond Admin Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Companies": {
      "main": [
        [
          {
            "node": "Handle DB Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle DB Result": {
      "main": [
        [
          {
            "node": "IF DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF DB Error": {
      "main": [
        [
          {
            "node": "Respond DB Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "admin-companies-list",
  "meta": {
    "instanceId": "lumon-n8n"
  },
  "tags": []
}