back/n8n/workflows/admin.logs-list.json
{
  "name": "admin.logs-list",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin-logs-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "webhookId": "admin-logs-list"
    },
    {
      "parameters": {
        "jsCode": "// Extract token and query params\nconst input = $input.item.json;\nconst headers = input.headers || {};\nconst query = input.query || {};\n\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      error: 'unauthorized',\n      status: 401,\n      message: 'Missing or invalid Authorization header'\n    }\n  };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\nconst limit = parseInt(query.limit) || 100;\nconst offset = parseInt(query.offset) || 0;\nconst action = query.action || null;\nconst userId = query.user_id || null;\n\nreturn {\n  json: {\n    token: token,\n    limit: limit,\n    offset: offset,\n    action: action,\n    userId: userId\n  }\n};"
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "IF Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.psayha.ru/webhook/admin-validate",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Extract Data').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "validate-admin",
      "name": "Validate Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Handle both success and error cases from HTTP request\nconst httpResponse = $input.item.json;\n\n// Helper function to extract error message from various formats\nfunction extractErrorMessage(error) {\n  if (!error) return 'Admin validation request failed';\n  \n  // If it's a string, return it\n  if (typeof error === 'string') {\n    // Try to parse as JSON if it looks like JSON\n    if (error.trim().startsWith('{') || error.trim().startsWith('[')) {\n      try {\n        const parsed = JSON.parse(error);\n        if (parsed.message) return parsed.message;\n        if (parsed.hint) return parsed.message + ': ' + parsed.hint;\n      } catch (e) {\n        // Not valid JSON, return as is\n      }\n    }\n    return error;\n  }\n  \n  // If it's an object\n  if (typeof error === 'object') {\n    // Check for nested message in error.message\n    if (error.message) {\n      // Try to parse message if it's a JSON string\n      if (typeof error.message === 'string' && error.message.includes('{')) {\n        try {\n          const parsed = JSON.parse(error.message);\n          if (parsed.message) return parsed.message;\n          if (parsed.hint) return parsed.message + ': ' + parsed.hint;\n        } catch (e) {\n          // Not valid JSON, use message as is\n        }\n      }\n      return error.message;\n    }\n    \n    // Check for status code\n    if (error.status === 404) {\n      return 'Admin validation webhook not found. Please ensure the admin-validate workflow is active.';\n    }\n    \n    if (error.status || error.statusCode) {\n      return 'Admin validation request failed with status ' + (error.status || error.statusCode);\n    }\n  }\n  \n  return 'Admin validation request failed';\n}\n\n// Check if this is an error response\nif (httpResponse.error) {\n  const errorMsg = extractErrorMessage(httpResponse.error);\n  return { \n    json: { \n      success: false, \n      error: errorMsg\n    } \n  };\n}\n\n// Check for HTTP error status codes\nif (httpResponse.statusCode && httpResponse.statusCode >= 400) {\n  let errorMsg = 'Admin validation request failed with status ' + httpResponse.statusCode;\n  \n  // Try to extract message from response data\n  if (httpResponse.data) {\n    try {\n      const dataStr = typeof httpResponse.data === 'string' ? httpResponse.data : JSON.stringify(httpResponse.data);\n      if (dataStr.includes('not registered') || dataStr.includes('404')) {\n        errorMsg = 'Admin validation webhook not found. Please ensure the admin-validate workflow is active.';\n      } else {\n        // Try to parse JSON from response\n        const parsed = typeof httpResponse.data === 'string' ? JSON.parse(httpResponse.data) : httpResponse.data;\n        if (parsed.message) errorMsg = parsed.message;\n        if (parsed.hint) errorMsg = (parsed.message || errorMsg) + ': ' + parsed.hint;\n      }\n    } catch (e) {\n      // Ignore parsing errors\n    }\n  }\n  \n  return { \n    json: { \n      success: false, \n      error: errorMsg\n    } \n  };\n}\n\n// Check for status property (Axios format)\nif (httpResponse.status && httpResponse.status >= 400) {\n  let errorMsg = 'Admin validation request failed with status ' + httpResponse.status;\n  \n  if (httpResponse.data) {\n    try {\n      const dataStr = typeof httpResponse.data === 'string' ? httpResponse.data : JSON.stringify(httpResponse.data);\n      if (dataStr.includes('not registered') || dataStr.includes('404')) {\n        errorMsg = 'Admin validation webhook not found. Please ensure the admin-validate workflow is active.';\n      }\n    } catch (e) {\n      // Ignore\n    }\n  }\n  \n  return { \n    json: { \n      success: false, \n      error: errorMsg\n    } \n  };\n}\n\nconst responseText = httpResponse.data;\n\nlet parsedData;\nif (typeof responseText === 'string') {\n  try {\n    parsedData = JSON.parse(responseText);\n  } catch (e) {\n    return { json: { success: false, error: 'Failed to parse admin response' } };\n  }\n} else {\n  parsedData = responseText;\n}\n\nif (!parsedData || Object.keys(parsedData).length === 0) {\n  return { json: { success: false, error: 'Empty admin response' } };\n}\n\nif (parsedData.success === undefined) {\n  return { json: { success: false, error: 'Invalid admin response format' } };\n}\n\nreturn { json: parsedData };"
      },
      "id": "parse-admin-response",
      "name": "Parse Admin Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-admin-success",
      "name": "IF Admin Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', status: 401, message: 'Invalid or expired admin token' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-admin-error",
      "name": "Respond Admin Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ae.id,\n  ae.action,\n  ae.resource_type,\n  ae.resource_id,\n  ae.metadata,\n  ae.ip,\n  ae.user_agent,\n  ae.created_at,\n  u.username,\n  u.first_name,\n  u.last_name\nFROM audit_events ae\nLEFT JOIN users u ON ae.user_id = u.id\nWHERE ($1::text IS NULL OR ae.action = $1)\n  AND ($2::uuid IS NULL OR ae.user_id = $2)\nORDER BY ae.created_at DESC\nLIMIT $3 OFFSET $4;",
        "options": {
          "queryReplacement": "={{ [$('Extract Data').item.json.action || null, $('Extract Data').item.json.userId || null, $('Extract Data').item.json.limit, $('Extract Data').item.json.offset] }}"
        }
      },
      "id": "get-logs",
      "name": "Get Logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1450,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "OPy15M2cOLEss5yi",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total\nFROM audit_events\nWHERE ($1::text IS NULL OR action = $1)\n  AND ($2::uuid IS NULL OR user_id = $2);",
        "options": {
          "queryReplacement": "={{ [$('Extract Data').item.json.action || null, $('Extract Data').item.json.userId || null] }}"
        }
      },
      "id": "get-total",
      "name": "Get Total Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1450,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "OPy15M2cOLEss5yi",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Helper function to safely extract error message with full details\nfunction getErrorMessage(error) {\n  if (!error) return 'Unknown database error';\n  \n  // If it's a string, try to parse as JSON first\n  if (typeof error === 'string') {\n    // Check if it's a JSON string\n    if (error.trim().startsWith('{') || error.trim().startsWith('[')) {\n      try {\n        const parsed = JSON.parse(error);\n        return getErrorMessage(parsed);\n      } catch (e) {\n        // Not valid JSON, return as is\n        return error;\n      }\n    }\n    return error;\n  }\n  \n  // If it's an object, build comprehensive error message\n  if (typeof error === 'object') {\n    const parts = [];\n    \n    // PostgreSQL error code\n    if (error.code) parts.push('Code: ' + error.code);\n    \n    // Main error message\n    if (error.message) parts.push(error.message);\n    if (error.description && !error.message) {\n      const desc = error.description;\n      parts.push(desc);\n    }\n    \n    // Detail (PostgreSQL specific)\n    if (error.detail && error.detail !== error.message) parts.push('Detail: ' + error.detail);\n    \n    // Hint (PostgreSQL specific)\n    if (error.hint) parts.push('Hint: ' + error.hint);\n    \n    // Where (PostgreSQL specific)\n    if (error.where) parts.push('Where: ' + error.where);\n    \n    // Check for nested error objects\n    if (error.error) {\n      const nestedMsg = getErrorMessage(error.error);\n      if (nestedMsg && nestedMsg !== 'Database query failed') {\n        parts.push(nestedMsg);\n      }\n    }\n    \n    // If we have parts, join them\n    if (parts.length > 0) {\n      return parts.join(' | ');\n    }\n    \n    // Try to stringify if it's an object with content\n    try {\n      const str = JSON.stringify(error, null, 2);\n      if (str && str !== '{}' && str !== '[]') return str;\n    } catch (e) {\n      // Ignore JSON stringify errors\n    }\n  }\n  \n  // Last resort - try toString\n  try {\n    const str = error.toString();\n    if (str && str !== '[object Object]') return str;\n  } catch (e) {\n    // Ignore\n  }\n  \n  return 'Database query failed';\n}\n\n// Handle database errors - check all possible error formats in n8n\n// PostgreSQL node may return array as separate items or as one item with array\nconst inputData = $input.all();\n\n// If PostgreSQL node returned multiple items (one per row), collect them all\nlet logsResult = null;\nif (inputData.length > 1) {\n  // Multiple items - collect all rows into array\n  logsResult = inputData.map(item => item.json);\n} else if (inputData.length === 1) {\n  // Single item - check if it's array or object\n  const singleResult = inputData[0].json;\n  if (Array.isArray(singleResult)) {\n    logsResult = singleResult;\n  } else {\n    logsResult = singleResult;\n  }\n}\n\n// n8n error format when node fails with continueOnFail:\n// Format 1: message at top level with nested error object\n// Format 2: error object with nested message\n// Format 3: error in json.error\n// Format 4: Direct error object\n\n// Check for n8n NodeOperationError format (message at top level)\nif (logsResult && logsResult.message && logsResult.error) {\n  const errorMsg = logsResult.message || getErrorMessage(logsResult.error);\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// Check for standard n8n error format\nif (logsResult && logsResult.error) {\n  const errorMsg = getErrorMessage(logsResult.error);\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// Check if the whole object is an error (sometimes n8n returns error directly)\nif (logsResult && logsResult.json && logsResult.json.error) {\n  const errorMsg = getErrorMessage(logsResult.json.error);\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// Check if there's a message at top level (n8n error format)\nif (logsResult && logsResult.message && !logsResult.error) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: logsResult.message\n    }\n  };\n}\n\n// Check if result is null or undefined\nif (logsResult === null || logsResult === undefined) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: 'Database returned null result'\n    }\n  };\n}\n\n// Check if logsResult is an array (success case)\nif (Array.isArray(logsResult)) {\n  // Success case - return array wrapped in object\n  return {\n    json: {\n      logs: logsResult\n    }\n  };\n}\n\n// If it's not an array, check if it's an error\nif (logsResult && (logsResult.message || logsResult.code || logsResult.error || logsResult.description || logsResult.detail || logsResult.hint)) {\n  const errorMsg = getErrorMessage(logsResult.error || logsResult);\n  \n  // If table doesn't exist, return empty array instead of error\n  if (errorMsg.includes('does not exist') || errorMsg.includes('relation') || errorMsg.includes('42P01')) {\n    return {\n      json: {\n        logs: []\n      }\n    };\n  }\n  \n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// If it's an object but not an array and not an error, wrap it as single log\nreturn {\n  json: {\n    logs: [logsResult]\n  }\n};"
      },
      "id": "handle-logs-result",
      "name": "Handle Logs Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Helper function to safely extract error message with full details\nfunction getErrorMessage(error) {\n  if (!error) return 'Unknown database error';\n  \n  // If it's a string, try to parse as JSON first\n  if (typeof error === 'string') {\n    // Check if it's a JSON string\n    if (error.trim().startsWith('{') || error.trim().startsWith('[')) {\n      try {\n        const parsed = JSON.parse(error);\n        return getErrorMessage(parsed);\n      } catch (e) {\n        // Not valid JSON, return as is\n        return error;\n      }\n    }\n    return error;\n  }\n  \n  // If it's an object, build comprehensive error message\n  if (typeof error === 'object') {\n    const parts = [];\n    \n    // PostgreSQL error code\n    if (error.code) parts.push('Code: ' + error.code);\n    \n    // Main error message\n    if (error.message) parts.push(error.message);\n    if (error.description && !error.message) {\n      const desc = error.description;\n      parts.push(desc);\n    }\n    \n    // Detail (PostgreSQL specific)\n    if (error.detail && error.detail !== error.message) parts.push('Detail: ' + error.detail);\n    \n    // Hint (PostgreSQL specific)\n    if (error.hint) parts.push('Hint: ' + error.hint);\n    \n    // Where (PostgreSQL specific)\n    if (error.where) parts.push('Where: ' + error.where);\n    \n    // Check for nested error objects\n    if (error.error) {\n      const nestedMsg = getErrorMessage(error.error);\n      if (nestedMsg && nestedMsg !== 'Database query failed') {\n        parts.push(nestedMsg);\n      }\n    }\n    \n    // If we have parts, join them\n    if (parts.length > 0) {\n      return parts.join(' | ');\n    }\n    \n    // Try to stringify if it's an object with content\n    try {\n      const str = JSON.stringify(error, null, 2);\n      if (str && str !== '{}' && str !== '[]') return str;\n    } catch (e) {\n      // Ignore JSON stringify errors\n    }\n  }\n  \n  // Last resort - try toString\n  try {\n    const str = error.toString();\n    if (str && str !== '[object Object]') return str;\n  } catch (e) {\n    // Ignore\n  }\n  \n  return 'Database query failed';\n}\n\n// Handle database errors - check all possible error formats in n8n\n// PostgreSQL node may return array as separate items or as one item with array\nconst inputData = $input.all();\n\n// If PostgreSQL node returned multiple items (one per row), collect them all\nlet totalResult = null;\nif (inputData.length > 1) {\n  // Multiple items - collect all rows into array\n  totalResult = inputData.map(item => item.json);\n} else if (inputData.length === 1) {\n  // Single item - check if it's array or object\n  const singleResult = inputData[0].json;\n  if (Array.isArray(singleResult)) {\n    totalResult = singleResult;\n  } else {\n    totalResult = singleResult;\n  }\n}\n\n// n8n error format when node fails with continueOnFail:\n// Format 1: message at top level with nested error object\n// Format 2: error object with nested message\n// Format 3: error in json.error\n// Format 4: Direct error object\n\n// Check for n8n NodeOperationError format (message at top level)\nif (totalResult && totalResult.message && totalResult.error) {\n  const errorMsg = totalResult.message || getErrorMessage(totalResult.error);\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// Check for standard n8n error format\nif (totalResult && totalResult.error) {\n  const errorMsg = getErrorMessage(totalResult.error);\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// Check if the whole object is an error (sometimes n8n returns error directly)\nif (totalResult && totalResult.json && totalResult.json.error) {\n  const errorMsg = getErrorMessage(totalResult.json.error);\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// Check if there's a message at top level (n8n error format)\nif (totalResult && totalResult.message && !totalResult.error) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: totalResult.message\n    }\n  };\n}\n\n// Check if result is null or undefined\nif (totalResult === null || totalResult === undefined) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: 'Database returned null result'\n    }\n  };\n}\n\n// Check if totalResult is an array (success case)\nif (Array.isArray(totalResult)) {\n  // Success case - return array wrapped in object\n  return {\n    json: {\n      total: totalResult\n    }\n  };\n}\n\n// If it's not an array, check if it's an error\nif (totalResult && (totalResult.message || totalResult.code || totalResult.error || totalResult.description || totalResult.detail || totalResult.hint)) {\n  const errorMsg = getErrorMessage(totalResult.error || totalResult);\n  \n  // If table doesn't exist, return empty count instead of error\n  if (errorMsg.includes('does not exist') || errorMsg.includes('relation') || errorMsg.includes('42P01')) {\n    return {\n      json: {\n        total: [{ total: '0' }]\n      }\n    };\n  }\n  \n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// If it's an object but not an array and not an error, wrap it as single count\nreturn {\n  json: {\n    total: [totalResult]\n  }\n};"
      },
      "id": "handle-total-result",
      "name": "Handle Total Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge results from both queries\n// Get all input items (from Handle Logs Result and Handle Total Result)\nconst inputData = $input.all();\n\nlet logsData = null;\nlet totalData = null;\n\n// Debug: log what we received\n// console.log('Merge Results - inputData length:', inputData.length);\n\n// Find data from each node by checking the structure\nfor (const item of inputData) {\n  const data = item.json;\n  \n  // Check if this is logs data (has 'logs' property)\n  if (data && data.logs !== undefined) {\n    logsData = data;\n  }\n  \n  // Check if this is total data (has 'total' property)\n  if (data && data.total !== undefined) {\n    totalData = data;\n  }\n}\n\n// Check for errors - but allow empty results\nif (logsData && logsData.error) {\n  // If it's a table not found error, use empty logs\n  const errorMsg = logsData.message || '';\n  if (errorMsg.includes('does not exist') || errorMsg.includes('relation') || errorMsg.includes('42P01')) {\n    logsData = { logs: [] };\n  } else {\n    // For other errors, still return error\n    return { json: logsData };\n  }\n}\n\nif (totalData && totalData.error) {\n  // If it's a table not found error, use empty total\n  const errorMsg = totalData.message || '';\n  if (errorMsg.includes('does not exist') || errorMsg.includes('relation') || errorMsg.includes('42P01')) {\n    totalData = { total: [{ total: '0' }] };\n  } else {\n    // For other errors, still return error\n    return { json: totalData };\n  }\n}\n\n// If we don't have both, use defaults (this is OK - queries might return empty)\nif (!logsData) {\n  logsData = { logs: [] };\n}\n\nif (!totalData) {\n  totalData = { total: [{ total: '0' }] };\n}\n\n// Both queries succeeded (or have defaults), merge results\n// Safety check - ensure logs and total are arrays\nconst logs = Array.isArray(logsData.logs) ? logsData.logs : (logsData.logs ? [logsData.logs] : []);\nconst total = Array.isArray(totalData.total) ? totalData.total : (totalData.total ? [totalData.total] : []);\n\nreturn {\n  json: {\n    logs: logs,\n    total: total\n  }\n};"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        550
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-field-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-db-error",
      "name": "IF DB Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2050,
        550
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 500 }}"
        }
      },
      "id": "respond-db-error",
      "name": "Respond DB Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2050,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\n// Format response\nconst mergedData = $('Merge Results').item.json;\n\n// Safety check - if there's an error, don't process\nif (mergedData.error) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: mergedData.message || 'Database error occurred'\n    }\n  };\n}\n\nconst logs = Array.isArray(mergedData.logs) ? mergedData.logs : [];\nconst totalArray = Array.isArray(mergedData.total) ? mergedData.total : [];\n// Extract total count - PostgreSQL COUNT returns { total: '123' } or { count: '123' }\nlet total = 0;\nif (totalArray.length > 0 && totalArray[0]) {\n  const countData = totalArray[0];\n  // Try different possible field names\n  if (countData.total !== undefined) {\n    total = parseInt(countData.total) || 0;\n  } else if (countData.count !== undefined) {\n    total = parseInt(countData.count) || 0;\n  } else if (typeof countData === 'object' && Object.keys(countData).length > 0) {\n    // Try to get first numeric value\n    const firstValue = Object.values(countData)[0];\n    total = parseInt(firstValue) || 0;\n  }\n}\n\n// Get limit and offset from input data (passed through workflow)\n// Try to get from Extract Data node, but fallback to defaults if not available\nlet limit = 100;\nlet offset = 0;\n\ntry {\n  const extractData = $('Extract Data');\n  if (extractData && extractData.item && extractData.item.json) {\n    limit = extractData.item.json.limit || 100;\n    offset = extractData.item.json.offset || 0;\n  }\n} catch (e) {\n  // If Extract Data node is not available, use defaults\n  limit = 100;\n  offset = 0;\n}\n\nconst formatted = logs.map(log => ({\n  id: log.id,\n  action: log.action || '',\n  resourceType: log.resource_type || '',\n  resourceId: log.resource_id || null,\n  metadata: log.metadata || {},\n  ip: log.ip || '',\n  userAgent: log.user_agent || '',\n  createdAt: log.created_at || null,\n  user: log.username ? {\n    username: log.username || '',\n    firstName: log.first_name || '',\n    lastName: log.last_name || ''\n  } : null\n}));\n\nreturn {\n  json: {\n    success: true,\n    data: formatted,\n    pagination: {\n      total: total,\n      limit: limit,\n      offset: offset\n    },\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        650
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2450,
        650
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "IF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Admin": {
      "main": [
        [
          {
            "node": "Parse Admin Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Admin Response": {
      "main": [
        [
          {
            "node": "IF Admin Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Admin Success": {
      "main": [
        [
          {
            "node": "Respond Admin Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Total Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Logs": {
      "main": [
        [
          {
            "node": "Handle Logs Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Total Count": {
      "main": [
        [
          {
            "node": "Handle Total Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Logs Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Total Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "IF DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF DB Error": {
      "main": [
        [
          {
            "node": "Respond DB Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "admin-logs-list",
  "meta": {
    "instanceId": "lumon-n8n"
  },
  "tags": []
}