back/n8n/workflows/admin.stats-platform.json
{
  "name": "admin.stats-platform",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin-stats-platform",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "webhookId": "admin-stats-platform"
    },
    {
      "parameters": {
        "jsCode": "// Extract token\nconst input = $input.item.json;\nconst headers = input.headers || {};\n\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      error: 'unauthorized',\n      status: 401,\n      message: 'Missing or invalid Authorization header'\n    }\n  };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn {\n  json: {\n    token: token\n  }\n};"
      },
      "id": "extract-token",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "IF Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.psayha.ru/webhook/admin-validate",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Extract Token').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "validate-admin",
      "name": "Validate Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Handle both success and error cases from HTTP request\nconst httpResponse = $input.item.json;\n\n// Helper function to extract error message from various formats\nfunction extractErrorMessage(error) {\n  if (!error) return 'Admin validation request failed';\n  \n  // If it's a string, return it\n  if (typeof error === 'string') {\n    // Try to parse as JSON if it looks like JSON\n    if (error.trim().startsWith('{') || error.trim().startsWith('[')) {\n      try {\n        const parsed = JSON.parse(error);\n        if (parsed.message) return parsed.message;\n        if (parsed.hint) return parsed.message + ': ' + parsed.hint;\n      } catch (e) {\n        // Not valid JSON, return as is\n      }\n    }\n    return error;\n  }\n  \n  // If it's an object\n  if (typeof error === 'object') {\n    // Check for nested message in error.message\n    if (error.message) {\n      // Try to parse message if it's a JSON string\n      if (typeof error.message === 'string' && error.message.includes('{')) {\n        try {\n          const parsed = JSON.parse(error.message);\n          if (parsed.message) return parsed.message;\n          if (parsed.hint) return parsed.message + ': ' + parsed.hint;\n        } catch (e) {\n          // Not valid JSON, use message as is\n        }\n      }\n      return error.message;\n    }\n    \n    // Check for status code\n    if (error.status === 404) {\n      return 'Admin validation webhook not found. Please ensure the admin-validate workflow is active.';\n    }\n    \n    if (error.status || error.statusCode) {\n      return 'Admin validation request failed with status ' + (error.status || error.statusCode);\n    }\n  }\n  \n  return 'Admin validation request failed';\n}\n\n// Check if this is an error response\nif (httpResponse.error) {\n  const errorMsg = extractErrorMessage(httpResponse.error);\n  return { \n    json: { \n      success: false, \n      error: errorMsg\n    } \n  };\n}\n\n// Check for HTTP error status codes\nif (httpResponse.statusCode && httpResponse.statusCode >= 400) {\n  let errorMsg = 'Admin validation request failed with status ' + httpResponse.statusCode;\n  \n  // Try to extract message from response data\n  if (httpResponse.data) {\n    try {\n      const dataStr = typeof httpResponse.data === 'string' ? httpResponse.data : JSON.stringify(httpResponse.data);\n      if (dataStr.includes('not registered') || dataStr.includes('404')) {\n        errorMsg = 'Admin validation webhook not found. Please ensure the admin-validate workflow is active.';\n      } else {\n        // Try to parse JSON from response\n        const parsed = typeof httpResponse.data === 'string' ? JSON.parse(httpResponse.data) : httpResponse.data;\n        if (parsed.message) errorMsg = parsed.message;\n        if (parsed.hint) errorMsg = (parsed.message || errorMsg) + ': ' + parsed.hint;\n      }\n    } catch (e) {\n      // Ignore parsing errors\n    }\n  }\n  \n  return { \n    json: { \n      success: false, \n      error: errorMsg\n    } \n  };\n}\n\n// Check for status property (Axios format)\nif (httpResponse.status && httpResponse.status >= 400) {\n  let errorMsg = 'Admin validation request failed with status ' + httpResponse.status;\n  \n  if (httpResponse.data) {\n    try {\n      const dataStr = typeof httpResponse.data === 'string' ? httpResponse.data : JSON.stringify(httpResponse.data);\n      if (dataStr.includes('not registered') || dataStr.includes('404')) {\n        errorMsg = 'Admin validation webhook not found. Please ensure the admin-validate workflow is active.';\n      }\n    } catch (e) {\n      // Ignore\n    }\n  }\n  \n  return { \n    json: { \n      success: false, \n      error: errorMsg\n    } \n  };\n}\n\nconst responseText = httpResponse.data;\n\nlet parsedData;\nif (typeof responseText === 'string') {\n  try {\n    parsedData = JSON.parse(responseText);\n  } catch (e) {\n    return { json: { success: false, error: 'Failed to parse admin response' } };\n  }\n} else {\n  parsedData = responseText;\n}\n\nif (!parsedData || Object.keys(parsedData).length === 0) {\n  return { json: { success: false, error: 'Empty admin response' } };\n}\n\nif (parsedData.success === undefined) {\n  return { json: { success: false, error: 'Invalid admin response format' } };\n}\n\nreturn { json: parsedData };"
      },
      "id": "parse-admin-response",
      "name": "Parse Admin Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-admin-success",
      "name": "IF Admin Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', status: 401, message: 'Invalid or expired admin token' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-admin-error",
      "name": "Respond Admin Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  (SELECT COUNT(*) FROM users) as total_users,\n  (SELECT COUNT(*) FROM users WHERE last_login_at > NOW() - INTERVAL '30 days') as active_users_30d,\n  (SELECT COUNT(*) FROM users WHERE last_login_at > NOW() - INTERVAL '7 days') as active_users_7d,\n  (SELECT COUNT(*) FROM companies) as total_companies,\n  (SELECT COUNT(*) FROM chats) as total_chats,\n  (SELECT COUNT(*) FROM messages) as total_messages,\n  (SELECT COUNT(*) FROM users WHERE created_at > NOW() - INTERVAL '30 days') as new_users_30d,\n  (SELECT COUNT(*) FROM companies WHERE created_at > NOW() - INTERVAL '30 days') as new_companies_30d,\n  (SELECT COUNT(*) FROM sessions WHERE is_active = true) as active_sessions;",
        "options": {}
      },
      "id": "get-stats",
      "name": "Get Platform Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1450,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "OPy15M2cOLEss5yi",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Helper function to safely extract error message with full details\nfunction getErrorMessage(error) {\n  if (!error) return 'Unknown database error';\n  \n  // If it's a string, try to parse as JSON first\n  if (typeof error === 'string') {\n    // Check if it's a JSON string\n    if (error.trim().startsWith('{') || error.trim().startsWith('[')) {\n      try {\n        const parsed = JSON.parse(error);\n        return getErrorMessage(parsed);\n      } catch (e) {\n        // Not valid JSON, return as is\n        return error;\n      }\n    }\n    return error;\n  }\n  \n  // If it's an object, build comprehensive error message\n  if (typeof error === 'object') {\n    const parts = [];\n    \n    // PostgreSQL error code\n    if (error.code) parts.push('Code: ' + error.code);\n    \n    // Main error message\n    if (error.message) parts.push(error.message);\n    if (error.description && !error.message) {\n      const desc = error.description;\n      parts.push(desc);\n    }\n    \n    // Detail (PostgreSQL specific)\n    if (error.detail && error.detail !== error.message) parts.push('Detail: ' + error.detail);\n    \n    // Hint (PostgreSQL specific)\n    if (error.hint) parts.push('Hint: ' + error.hint);\n    \n    // Where (PostgreSQL specific)\n    if (error.where) parts.push('Where: ' + error.where);\n    \n    // Check for nested error objects\n    if (error.error) {\n      const nestedMsg = getErrorMessage(error.error);\n      if (nestedMsg && nestedMsg !== 'Database query failed') {\n        parts.push(nestedMsg);\n      }\n    }\n    \n    // If we have parts, join them\n    if (parts.length > 0) {\n      return parts.join(' | ');\n    }\n    \n    // Try to stringify if it's an object with content\n    try {\n      const str = JSON.stringify(error, null, 2);\n      if (str && str !== '{}' && str !== '[]') return str;\n    } catch (e) {\n      // Ignore JSON stringify errors\n    }\n  }\n  \n  // Last resort - try toString\n  try {\n    const str = error.toString();\n    if (str && str !== '[object Object]') return str;\n  } catch (e) {\n    // Ignore\n  }\n  \n  return 'Database query failed';\n}\n\n// Handle database errors - check all possible error formats in n8n\nconst inputData = $input.all();\nconst dbResult = inputData.length > 0 ? inputData[0].json : null;\n\n// n8n error format when node fails with continueOnFail:\n// Format 1: message at top level with nested error object\n// Format 2: error object with nested message\n// Format 3: error in json.error\n// Format 4: Direct error object\n\n// Check for n8n NodeOperationError format (message at top level)\nif (dbResult && dbResult.message && dbResult.error) {\n  const errorMsg = dbResult.message || getErrorMessage(dbResult.error);\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// Check for standard n8n error format\nif (dbResult && dbResult.error) {\n  const errorMsg = getErrorMessage(dbResult.error);\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// Check if the whole object is an error (sometimes n8n returns error directly)\nif (dbResult && dbResult.json && dbResult.json.error) {\n  const errorMsg = getErrorMessage(dbResult.json.error);\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: errorMsg\n    }\n  };\n}\n\n// Check if there's a message at top level (n8n error format)\nif (dbResult && dbResult.message && !dbResult.error) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: dbResult.message\n    }\n  };\n}\n\n// Check if result is null or undefined\nif (dbResult === null || dbResult === undefined) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: 'Database returned null result'\n    }\n  };\n}\n\n// PostgreSQL node returns array directly when successful\nif (!Array.isArray(dbResult)) {\n  // Check if it's an error object (various formats)\n  if (dbResult.message || dbResult.code || dbResult.error || dbResult.description || dbResult.detail || dbResult.hint) {\n    const errorMsg = getErrorMessage(dbResult.error || dbResult);\n    return {\n      json: {\n        error: 'database_error',\n        status: 500,\n        message: errorMsg\n      }\n    };\n  }\n  // If it's an object but not an array and not an error, wrap it\n  return {\n    json: {\n      stats: [dbResult]\n    }\n  };\n}\n\n// Success case - return array\nreturn {\n  json: {\n    stats: dbResult\n  }\n};"
      },
      "id": "handle-db-result",
      "name": "Handle DB Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-field-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-db-error",
      "name": "IF DB Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1850,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 500 }}"
        }
      },
      "id": "respond-db-error",
      "name": "Respond DB Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1850,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\n// Format response\nconst dbData = $('Handle DB Result').item.json;\n\n// Safety check - if there's an error, don't process\nif (dbData.error) {\n  return {\n    json: {\n      error: 'database_error',\n      status: 500,\n      message: dbData.message || 'Database error occurred'\n    }\n  };\n}\n\n// Safety check - if stats is missing or empty\nif (!dbData.stats || !Array.isArray(dbData.stats) || dbData.stats.length === 0) {\n  return {\n    json: {\n      success: true,\n      data: {\n        totalUsers: 0,\n        activeUsers30d: 0,\n        activeUsers7d: 0,\n        totalCompanies: 0,\n        totalChats: 0,\n        totalMessages: 0,\n        newUsers30d: 0,\n        newCompanies30d: 0,\n        activeSessions: 0\n      },\n      traceId: generateUUIDv4()\n    }\n  };\n}\n\nconst stats = dbData.stats[0] || {};\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      totalUsers: parseInt(stats.total_users) || 0,\n      activeUsers30d: parseInt(stats.active_users_30d) || 0,\n      activeUsers7d: parseInt(stats.active_users_7d) || 0,\n      totalCompanies: parseInt(stats.total_companies) || 0,\n      totalChats: parseInt(stats.total_chats) || 0,\n      totalMessages: parseInt(stats.total_messages) || 0,\n      newUsers30d: parseInt(stats.new_users_30d) || 0,\n      newCompanies30d: parseInt(stats.new_companies_30d) || 0,\n      activeSessions: parseInt(stats.active_sessions) || 0\n    },\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2250,
        700
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "IF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Admin": {
      "main": [
        [
          {
            "node": "Parse Admin Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Admin Response": {
      "main": [
        [
          {
            "node": "IF Admin Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Admin Success": {
      "main": [
        [
          {
            "node": "Respond Admin Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Platform Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Platform Stats": {
      "main": [
        [
          {
            "node": "Handle DB Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle DB Result": {
      "main": [
        [
          {
            "node": "IF DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF DB Error": {
      "main": [
        [
          {
            "node": "Respond DB Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "admin-stats-platform",
  "meta": {
    "instanceId": "lumon-n8n"
  },
  "tags": []
}