back/n8n/workflows/admin.user-delete.json
{
  "name": "admin.user-delete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/user-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst body = input.body || input;\nconst headers = input.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return { json: { error: 'unauthorized', status: 401, message: 'Missing Authorization header' } };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\n\nif (!body.user_id) {\n  return { json: { error: 'bad_request', status: 400, message: 'Missing user_id' } };\n}\n\nreturn { json: { token, user_id: body.user_id } };"
      },
      "id": "extract",
      "name": "Extract & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.psayha.ru/webhook/admin-validate",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [{ "name": "token", "value": "={{ $json.token }}" }]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "validate",
      "name": "Validate Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.success }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "if-admin",
      "name": "IF Admin",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'forbidden', status: 403, message: 'Admin access required' } }}",
        "options": { "responseCode": 403 }
      },
      "id": "respond-forbidden",
      "name": "Respond Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM messages WHERE chat_id IN (SELECT id FROM chats WHERE user_id = '{{ $('Extract & Validate').item.json.user_id }}');\nDELETE FROM chats WHERE user_id = '{{ $('Extract & Validate').item.json.user_id }}';\nDELETE FROM user_limits WHERE user_id = '{{ $('Extract & Validate').item.json.user_id }}';\nDELETE FROM user_companies WHERE user_id = '{{ $('Extract & Validate').item.json.user_id }}';\nDELETE FROM users WHERE id = '{{ $('Extract & Validate').item.json.user_id }}';\nSELECT '{{ $('Extract & Validate').item.json.user_id }}' as user_id, 'deleted' as status;",
        "options": {}
      },
      "id": "delete-user",
      "name": "Delete User Completely",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 500],
      "credentials": { "postgres": { "id": "supabase_postgres", "name": "Supabase PostgreSQL" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'User deleted completely', user_id: $json.user_id } }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 500]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract & Validate", "type": "main", "index": 0 }]] },
    "Extract & Validate": { "main": [[{ "node": "Validate Admin", "type": "main", "index": 0 }]] },
    "Validate Admin": { "main": [[{ "node": "IF Admin", "type": "main", "index": 0 }]] },
    "IF Admin": {
      "main": [
        [{ "node": "Delete User Completely", "type": "main", "index": 0 }],
        [{ "node": "Respond Forbidden", "type": "main", "index": 0 }]
      ]
    },
    "Delete User Completely": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
