back/n8n/workflows/analytics.json
{
  "name": "Analytics",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analytics",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "analytics"
    },
    {
      "parameters": {
        "jsCode": "// Валидация аналитического события\nconst webhookData = $input.item.json;\nconst body = webhookData.body || webhookData;\n\nif (!body.event_type) {\n  throw new Error('event_type is required');\n}\n\nreturn {\n  json: {\n    user_id: body.user_id || null,\n    event_type: body.event_type,\n    event_data: body.event_data || {},\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "validate-event",
      "name": "Validate Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO analytics_events (user_id, event_type, event_data, created_at) VALUES ({{ $json.user_id ? \"CAST('\" + $json.user_id + \"' AS UUID)\" : \"NULL\" }}, '{{ $json.event_type }}', '{{ JSON.stringify($json.event_data) }}'::jsonb, '{{ $json.timestamp }}') RETURNING *",
        "options": {}
      },
      "id": "insert-event",
      "name": "Insert Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Event": {
      "main": [
        [
          {
            "node": "Insert Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

