back/n8n/workflows/auth.validate.v3.json
{
  "name": "auth.validate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-validate-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "auth-validate-v2"
    },
    {
      "parameters": {
        "functionCode": "// Extract token from webhook body or Authorization header\nconst input = $input.item.json;\nconst body = input.body || input;\nconst headers = input.headers || {};\n\n// Debug: log what we received\nconsole.log('Webhook input:', JSON.stringify(input, null, 2));\nconsole.log('Headers:', JSON.stringify(headers, null, 2));\nconsole.log('Body:', JSON.stringify(body, null, 2));\n\n// Try to get token from Authorization header first\n// Headers can be lowercase or capitalized\nconst authHeader = headers.authorization || headers.Authorization || '';\nlet token = null;\n\nif (authHeader) {\n  console.log('Auth header found:', authHeader);\n  if (authHeader.startsWith('Bearer ')) {\n    token = authHeader.replace('Bearer ', '').trim();\n  } else if (authHeader.startsWith('bearer ')) {\n    token = authHeader.replace('bearer ', '').trim();\n  } else {\n    // Try to use header as-is if it doesn't have Bearer prefix\n    token = authHeader.trim();\n  }\n} else if (body.token) {\n  // Fallback to body.token for backward compatibility\n  console.log('Using token from body');\n  token = body.token;\n}\n\nif (!token) {\n  console.error('No token found in request');\n  throw new Error('Session token is required');\n}\n\nconsole.log('Token extracted successfully');\nreturn {\n  json: {\n    token: token\n  }\n};"
      },
      "id": "extract-token",
      "name": "Extract Token",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  s.id,\n  s.session_token,\n  s.user_id,\n  s.company_id,\n  s.role,\n  s.expires_at,\n  s.last_activity_at,\n  u.telegram_id,\n  u.first_name,\n  u.last_name,\n  u.username,\n  c.name as company_name\nFROM sessions s\nJOIN users u ON u.id = s.user_id\nLEFT JOIN companies c ON c.id = s.company_id\nWHERE s.session_token = '{{ $json.token }}' AND s.is_active = true",
        "options": {}
      },
      "id": "get-session",
      "name": "Get Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "session-found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-session-found",
      "name": "IF Session Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Prepare error response for missing session\nreturn {\n  json: {\n    success: false,\n    error: 'unauthorized',\n    status: 401,\n    message: 'Invalid or expired token'\n  }\n};"
      },
      "id": "prepare-error",
      "name": "Prepare Error Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "functionCode": "// Check session validity\nconst session = $input.item.json;\n\nconst now = new Date();\nconst expiresAt = new Date(session.expires_at);\nconst lastActivity = new Date(session.last_activity_at);\n\n// Check if session is expired\nif (now > expiresAt) {\n  return {\n    json: {\n      success: false,\n      error: 'unauthorized',\n      status: 401,\n      message: 'Session has expired'\n    }\n  };\n}\n\n// Check grace window (24 hours of inactivity)\nconst hoursSinceActivity = (now - lastActivity) / (1000 * 60 * 60);\nif (hoursSinceActivity > 24) {\n  return {\n    json: {\n      success: false,\n      error: 'unauthorized',\n      status: 401,\n      message: 'Session expired due to inactivity'\n    }\n  };\n}\n\n// Session is valid, pass through\nreturn {\n  json: session\n};"
      },
      "id": "check-validity",
      "name": "Check Session Validity",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "validity-ok",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validity-ok",
      "name": "IF Validity OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Prepare error response from validity check\nconst input = $input.item.json;\nreturn {\n  json: {\n    success: false,\n    error: input.error || 'unauthorized',\n    status: input.status || 401,\n    message: input.message || 'Invalid or expired token'\n  }\n};"
      },
      "id": "prepare-validity-error",
      "name": "Prepare Validity Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sessions \nSET last_activity_at = NOW(),\n    expires_at = CASE \n      WHEN expires_at - NOW() < INTERVAL '2 days' \n      THEN NOW() + INTERVAL '7 days'\n      ELSE expires_at\n    END\nWHERE session_token = '{{ $json.session_token }}'\nRETURNING expires_at",
        "options": {}
      },
      "id": "update-activity",
      "name": "Update Last Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1450, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Build permissions based on role\n// Get session data from Check Session Validity (passed through IF Validity OK)\n// The IF node passes data through, so we can reference the previous node\nconst session = $('Check Session Validity').item.json;\nconst role = session.role;\n\nconst permissions = {\n  owner: ['read', 'write', 'delete', 'manage_users', 'manage_company'],\n  manager: ['read', 'write', 'delete'],\n  viewer: ['read']\n};\n\n// Frontend expects role and companyId at data level, not nested in user\nreturn {\n  json: {\n    success: true,\n    data: {\n      user: {\n        id: session.user_id,\n        telegram_id: session.telegram_id,\n        first_name: session.first_name,\n        last_name: session.last_name,\n        username: session.username,\n        company_name: session.company_name,\n        permissions: permissions[role] || []\n      },\n      role: role,\n      companyId: session.company_id,\n      session: {\n        expires_at: session.expires_at,\n        last_activity_at: session.last_activity_at\n      }\n    }\n  }\n};"
      },
      "id": "build-response",
      "name": "Build User Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseCode": "={{ $json.status || 401 }}",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseCode": "={{ $json.status || 401 }}",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-validity-error",
      "name": "Respond Validity Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "Get Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session": {
      "main": [
        [
          {
            "node": "IF Session Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found": {
      "main": [
        [
          {
            "node": "Check Session Validity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Validity": {
      "main": [
        [
          {
            "node": "IF Validity OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Validity OK": {
      "main": [
        [
          {
            "node": "Update Last Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Validity Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Validity Error": {
      "main": [
        [
          {
            "node": "Respond Validity Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Activity": {
      "main": [
        [
          {
            "node": "Build User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Context": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

