back/n8n/workflows/auth.validate.json
{
  "name": "auth.validate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-validate",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "auth-validate"
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || {};\nconst token = body.token;\n\nif (!token) {\n  return {\n    json: {\n      error: 'bad_request',\n      status: 400,\n      message: 'token is required',\n      traceId: require('crypto').randomUUID()\n    }\n  };\n}\n\nreturn { json: { token } };"
      },
      "id": "extract-token",
      "name": "Extract Token",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [350, 300]
    },
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id, s.user_id, s.expires_at, s.last_seen_at, s.created_at\nFROM sessions s\nWHERE s.id = $1::uuid \n  AND s.expires_at > now()\nLIMIT 1;",
        "additionalFields": {
          "queryParameters": "={{[$json.token]}}"
        }
      },
      "id": "check-session",
      "name": "Check Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.id}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "check-session-exists",
      "name": "IF Session Not Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const crypto = require('crypto');\n\nreturn {\n  json: {\n    error: 'unauthorized',\n    status: 401,\n    message: 'Invalid or expired token',\n    traceId: crypto.randomUUID()\n  }\n};"
      },
      "id": "return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sessions \nSET last_seen_at = now()\nWHERE id = $1::uuid;",
        "additionalFields": {
          "queryParameters": "={{[$json.id]}}"
        }
      },
      "id": "update-last-seen",
      "name": "Update last_seen_at",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const sessionData = $('Check Session').item.json;\nconst expiresAt = new Date(sessionData.expires_at);\nconst now = new Date();\nconst minutesLeft = (expiresAt - now) / 1000 / 60;\n\nreturn {\n  json: {\n    sessionId: sessionData.id,\n    userId: sessionData.user_id,\n    shouldExtend: minutesLeft < 5 && minutesLeft > 0\n  }\n};"
      },
      "id": "check-grace-period",
      "name": "Check Grace Period",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldExtend}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-should-extend",
      "name": "IF Should Extend",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sessions \nSET expires_at = now() + interval '7 days'\nWHERE id = $1::uuid;",
        "additionalFields": {
          "queryParameters": "={{[$json.sessionId]}}"
        }
      },
      "id": "extend-session",
      "name": "Extend Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id as user_id, uc.role, uc.company_id\nFROM users u\nLEFT JOIN user_companies uc ON uc.user_id = u.id\nWHERE u.id = $1\nLIMIT 1;",
        "additionalFields": {
          "queryParameters": "={{[$('Check Grace Period').item.json.userId]}}"
        }
      },
      "id": "get-user-context",
      "name": "Get User Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1650, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const userData = $json;\nconst role = userData.role;\n\nlet permissions = [];\nif (role === 'owner') {\n  permissions = ['read', 'write', 'delete'];\n} else if (role === 'manager') {\n  permissions = ['read', 'write'];\n} else if (role === 'viewer') {\n  permissions = ['read'];\n}\n\nreturn {\n  json: {\n    context: {\n      userId: userData.user_id,\n      role: userData.role || null,\n      companyId: userData.company_id || null,\n      permissions: permissions\n    }\n  }\n};"
      },
      "id": "build-permissions",
      "name": "Build Permissions",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1850, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "Check Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session": {
      "main": [
        [
          {
            "node": "IF Session Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Not Found": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update last_seen_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update last_seen_at": {
      "main": [
        [
          {
            "node": "Check Grace Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Grace Period": {
      "main": [
        [
          {
            "node": "IF Should Extend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should Extend": {
      "main": [
        [
          {
            "node": "Extend Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extend Session": {
      "main": [
        [
          {
            "node": "Get User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Context": {
      "main": [
        [
          {
            "node": "Build Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T00:00:00.000Z",
  "versionId": "1"
}

