back/n8n/workflows/auth.validate.fixed.json
{
  "name": "auth.validate.fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-validate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const token = $json.token;\n\nif (!token || token === 'your-session-token-here') {\n  return {\n    json: {\n      error: 'bad_request',\n      status: 400,\n      message: 'Valid token is required',\n      traceId: require('crypto').randomUUID()\n    }\n  };\n}\n\nreturn { json: { token } };"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-error",
      "name": "IF Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{$json.status || 400}}"
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id, s.user_id, s.expires_at\nFROM sessions s\nWHERE s.id = $1::uuid \n  AND s.expires_at > now()\nLIMIT 1;",
        "additionalFields": {
          "queryParameters": "={{[$json.token]}}"
        }
      },
      "id": "check-session",
      "name": "Check Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.id}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "check-session-found",
      "name": "IF Session Not Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "functionCode": "return {\n  json: {\n    error: 'unauthorized',\n    status: 401,\n    message: 'Invalid or expired token',\n    traceId: require('crypto').randomUUID()\n  }\n};"
      },
      "id": "return-unauthorized",
      "name": "Return Unauthorized",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sessions \nSET last_seen_at = now()\nWHERE id = $1::uuid\nRETURNING id;",
        "additionalFields": {
          "queryParameters": "={{[$json.id]}}"
        }
      },
      "id": "update-last-seen",
      "name": "Update Last Seen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 500],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id as user_id, uc.role, uc.company_id, c.name as company_name\nFROM users u\nLEFT JOIN user_companies uc ON uc.user_id = u.id\nLEFT JOIN companies c ON c.id = uc.company_id\nWHERE u.id = $1\nLIMIT 1;",
        "additionalFields": {
          "queryParameters": "={{[$('Check Session').item.json.user_id]}}"
        }
      },
      "id": "get-user-context",
      "name": "Get User Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1450, 500],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const userData = $json;\nconst role = userData.role;\n\nlet permissions = [];\nif (role === 'owner') {\n  permissions = ['read', 'write', 'delete'];\n} else if (role === 'manager') {\n  permissions = ['read', 'write'];\n} else if (role === 'viewer') {\n  permissions = ['read'];\n}\n\nreturn {\n  json: {\n    success: true,\n    context: {\n      userId: userData.user_id,\n      role: userData.role || null,\n      companyId: userData.company_id || null,\n      companyName: userData.company_name || null,\n      permissions: permissions\n    },\n    traceId: require('crypto').randomUUID()\n  }\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "IF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session": {
      "main": [
        [
          {
            "node": "IF Session Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Not Found": {
      "main": [
        [
          {
            "node": "Return Unauthorized",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Last Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Unauthorized": {
      "main": [
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Seen": {
      "main": [
        [
          {
            "node": "Get User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Context": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T12:20:00.000Z",
  "versionId": "1"
}

