back/n8n/workflows/auth.init.fixed.json
{
  "name": "auth.init.fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-init-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Для тестирования пропускаем проверку Telegram hash\n// В продакшене раскомментируй проверку!\n\nconst initData = $json.initData;\nconst appVersion = $json.appVersion || '1.0.0';\n\nif (!initData) {\n  return {\n    json: {\n      error: 'bad_request',\n      status: 400,\n      message: 'initData is required',\n      traceId: require('crypto').randomUUID()\n    }\n  };\n}\n\ntry {\n  const params = new URLSearchParams(initData);\n  const userStr = params.get('user');\n  \n  if (!userStr) {\n    return {\n      json: {\n        error: 'bad_request',\n        status: 400,\n        message: 'Missing user data in initData',\n        traceId: require('crypto').randomUUID()\n      }\n    };\n  }\n  \n  const user = JSON.parse(userStr);\n  \n  return {\n    json: {\n      telegram_id: user.id,\n      username: user.username || null,\n      first_name: user.first_name || null,\n      last_name: user.last_name || null,\n      language_code: user.language_code || 'ru',\n      appVersion: appVersion\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      error: 'internal_error',\n      status: 500,\n      message: error.message,\n      traceId: require('crypto').randomUUID()\n    }\n  };\n}"
      },
      "id": "parse-telegram-data",
      "name": "Parse Telegram Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-error",
      "name": "IF Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{$json.status || 400}}"
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (telegram_id, username, first_name, last_name, language_code, updated_at)\nVALUES ($1, $2, $3, $4, $5, now())\nON CONFLICT (telegram_id) \nDO UPDATE SET \n  username = $2,\n  first_name = $3,\n  last_name = $4,\n  language_code = $5,\n  updated_at = now()\nRETURNING id, telegram_id, username, first_name, last_name, language_code;",
        "additionalFields": {
          "queryParameters": "={{[\n  $json.telegram_id,\n  $json.username,\n  $json.first_name,\n  $json.last_name,\n  $json.language_code\n]}}"
        }
      },
      "id": "upsert-user",
      "name": "Upsert User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT uc.company_id, uc.role, c.name as company_name\nFROM user_companies uc\nLEFT JOIN companies c ON c.id = uc.company_id\nWHERE uc.user_id = $1\nLIMIT 1;",
        "additionalFields": {
          "queryParameters": "={{[$json.id]}}"
        }
      },
      "id": "get-user-role",
      "name": "Get User Role",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (user_id, expires_at, user_agent, ip, created_at)\nVALUES ($1, now() + interval '7 days', 'webapp', '0.0.0.0', now())\nRETURNING id, expires_at;",
        "additionalFields": {
          "queryParameters": "={{[$('Upsert User').item.json.id]}}"
        }
      },
      "id": "create-session",
      "name": "Create Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const userData = $('Upsert User').item.json;\nconst roleData = $('Get User Role').item.json || {};\nconst sessionData = $json;\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      session_token: sessionData.id,\n      user: {\n        id: userData.id,\n        telegram_id: userData.telegram_id,\n        username: userData.username,\n        first_name: userData.first_name,\n        last_name: userData.last_name\n      },\n      companyId: roleData.company_id || null,\n      companyName: roleData.company_name || null,\n      role: roleData.role || null\n    },\n    traceId: require('crypto').randomUUID()\n  }\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Telegram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Data": {
      "main": [
        [
          {
            "node": "IF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert User": {
      "main": [
        [
          {
            "node": "Get User Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Role": {
      "main": [
        [
          {
            "node": "Create Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Session": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T12:20:00.000Z",
  "versionId": "1"
}

