back/n8n/workflows/auth.validate.simple.json
{
  "name": "auth.validate.simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-validate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "auth-validate-simple"
    },
    {
      "parameters": {
        "functionCode": "// Простая функция для тестирования\nconst token = $json.token || 'no-token';\n\nreturn {\n  json: {\n    success: true,\n    message: 'Workflow works!',\n    receivedToken: token,\n    context: {\n      userId: 'test-user-id',\n      role: 'owner',\n      companyId: 'test-company-id',\n      permissions: ['read', 'write', 'delete']\n    },\n    traceId: require('crypto').randomUUID()\n  }\n};"
      },
      "id": "simple-response",
      "name": "Simple Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Simple Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T12:10:00.000Z",
  "versionId": "1"
}

