back/n8n/workflows/backup.delete.json
{
  "name": "backup.delete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "backup-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-backup-delete",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "backup-delete"
    },
    {
      "parameters": {
        "jsCode": "// Extract token and backup_id\nconst input = $input.item.json;\nconst headers = input.headers || {};\nconst body = input.body || input;\n\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      error: 'unauthorized',\n      status: 401,\n      message: 'Missing or invalid Authorization header'\n    }\n  };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\nconst backupId = body.backup_id || '';\n\nif (!backupId) {\n  return {\n    json: {\n      error: 'bad_request',\n      status: 400,\n      message: 'backup_id is required'\n    }\n  };\n}\n\nreturn {\n  json: {\n    token: token,\n    backup_id: backupId\n  }\n};"
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-extract-error",
      "name": "IF Extract Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "response-extract-error",
      "name": "Respond Extract Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/admin-validate",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Extract Data').item.json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "call-admin-validate",
      "name": "Call admin.validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const httpResponse = $input.item.json;\nconst responseText = httpResponse.data;\n\nlet parsedData;\nif (typeof responseText === 'string') {\n  try {\n    parsedData = JSON.parse(responseText);\n  } catch (e) {\n    return { json: { success: false, error: 'Failed to parse admin response' } };\n  }\n} else {\n  parsedData = responseText;\n}\n\nif (!parsedData || Object.keys(parsedData).length === 0) {\n  return { json: { success: false, error: 'Empty admin response' } };\n}\n\nif (parsedData.success === undefined) {\n  return { json: { success: false, error: 'Invalid admin response format' } };\n}\n\nreturn { json: parsedData };"
      },
      "id": "parse-admin-response",
      "name": "Parse Admin Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $('Parse Admin Response').item.json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-admin-success",
      "name": "IF Admin Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', status: 401, message: 'Invalid or expired admin token' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "response-admin-error",
      "name": "Respond Admin Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT file_path\nFROM backups\nWHERE id = CAST('{{ $('Extract Data').item.json.backup_id }}' AS UUID)\nLIMIT 1;",
        "options": {}
      },
      "id": "get-backup-info",
      "name": "Get Backup Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1450, 600],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "rm -f \"{{ $json.file_path }}\"",
        "options": {}
      },
      "id": "delete-backup-file",
      "name": "Delete Backup File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1650, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM backups\nWHERE id = CAST('{{ $('Extract Data').item.json.backup_id }}' AS UUID)\nRETURNING id;",
        "options": {}
      },
      "id": "delete-backup-record",
      "name": "Delete Backup Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1850, 600],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\nconst deleteResult = $input.item.json;\nconst backupId = $('Extract Data').item.json.backup_id;\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      backup_id: backupId,\n      message: 'Backup deleted successfully'\n    },\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "format-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 600]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 600]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "IF Extract Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Extract Error": {
      "main": [
        [
          {
            "node": "Respond Extract Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call admin.validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call admin.validate": {
      "main": [
        [
          {
            "node": "Parse Admin Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Admin Response": {
      "main": [
        [
          {
            "node": "IF Admin Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Admin Success": {
      "main": [
        [
          {
            "node": "Respond Admin Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Backup Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Backup Info": {
      "main": [
        [
          {
            "node": "Delete Backup File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Backup File": {
      "main": [
        [
          {
            "node": "Delete Backup Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Backup Record": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T20:45:00.000Z",
  "versionId": "1"
}

