back/n8n/workflows/chat.list.json
{
  "name": "chat.list",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "chat-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat-list",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "chat-list"
    },
    {
      "parameters": {
        "jsCode": "// Extract token from Authorization header (preferred), fallback to query/body\nconst input = $input.item.json;\n\nconst headers = input.headers || {};\nconst query = input.query || {};\nlet body = input.body || input;\n\n// Parse body if it's a string\nif (typeof body === 'string') {\n  try {\n    body = JSON.parse(body);\n  } catch (e) {\n    // If not JSON, leave as is\n  }\n}\n\nif (typeof body !== 'object' || body === null) {\n  body = input;\n}\n\n// PRIORITY 1: Authorization header (standard and most reliable)\nlet authHeader = headers.authorization || headers.Authorization || headers['authorization'] || headers['Authorization'] || '';\n\n// PRIORITY 2: Query parameters (fallback for old clients)\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  if (query.token && typeof query.token === 'string' && query.token.trim().length > 0) {\n    authHeader = `Bearer ${query.token.trim()}`;\n  } else if (query.session_token && typeof query.session_token === 'string' && query.session_token.trim().length > 0) {\n    authHeader = `Bearer ${query.session_token.trim()}`;\n  } else if (query.authorization && typeof query.authorization === 'string' && query.authorization.trim().length > 0) {\n    const authValue = query.authorization.trim();\n    authHeader = authValue.startsWith('Bearer ') ? authValue : `Bearer ${authValue}`;\n  }\n}\n\n// PRIORITY 3: Body (fallback for POST requests)\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  if (body && typeof body === 'object') {\n    if (body.session_token && typeof body.session_token === 'string' && body.session_token.trim().length > 0) {\n      authHeader = `Bearer ${body.session_token.trim()}`;\n    } else if (body.token && typeof body.token === 'string' && body.token.trim().length > 0) {\n      authHeader = `Bearer ${body.token.trim()}`;\n    } else if (body.authorization && typeof body.authorization === 'string' && body.authorization.trim().length > 0) {\n      const authValue = body.authorization.trim();\n      authHeader = authValue.startsWith('Bearer ') ? authValue : `Bearer ${authValue}`;\n    }\n  }\n}\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      error: 'unauthorized',\n      status: 401,\n      message: 'Missing or invalid Authorization header. Please ensure you are logged in.'\n    }\n  };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn {\n  json: {\n    token: token\n  }\n};"
      },
      "id": "extract-token",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-extract-error",
      "name": "IF Extract Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "response-extract-error",
      "name": "Respond Extract Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.psayha.ru/webhook/auth-validate-v2",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Extract Token').item.json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "call-auth-validate",
      "name": "Call auth.validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Handle both success and error cases from HTTP request\nconst httpResponse = $input.item.json;\n\n// Check if this is an error response\nif (httpResponse.error || httpResponse.statusCode >= 400) {\n  return { json: { success: false, error: httpResponse.error?.message || 'Auth validation request failed' } };\n}\n\nconst responseText = httpResponse.data;\n\nlet parsedData;\nif (typeof responseText === 'string') {\n  try {\n    parsedData = JSON.parse(responseText);\n  } catch (e) {\n    return { json: { success: false, error: 'Failed to parse auth response' } };\n  }\n} else {\n  parsedData = responseText;\n}\n\nif (!parsedData || Object.keys(parsedData).length === 0) {\n  return { json: { success: false, error: 'Empty auth response' } };\n}\n\nif (parsedData.success === undefined) {\n  return { json: { success: false, error: 'Invalid auth response format' } };\n}\n\nreturn { json: parsedData };"
      },
      "id": "parse-auth-response",
      "name": "Parse Auth Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $('Parse Auth Response').item.json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-auth-success",
      "name": "IF Auth Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', status: 401, message: 'Invalid or expired token' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "response-auth-error",
      "name": "Respond Auth Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "const authData = $('Parse Auth Response').item.json;\n\n// Try different paths to find userId\nlet userId = null;\nlet companyId = null;\n\n// Path 1: authData.data.user.id (expected based on auth.validate response)\nif (authData && authData.data && authData.data.user && authData.data.user.id) {\n  userId = authData.data.user.id;\n  // companyId is at data level, not in user object\n  companyId = authData.data.companyId || null;\n}\n// Path 2: authData.user.id (in case data wrapper is missing)\nelse if (authData && authData.user && authData.user.id) {\n  userId = authData.user.id;\n  companyId = authData.companyId || null;\n}\n// Path 3: authData.id (in case it's just the user object)\nelse if (authData && authData.id) {\n  userId = authData.id;\n  companyId = authData.company_id || authData.companyId || null;\n}\n\nif (!userId) {\n  throw new Error('User ID not found in auth response. Auth data keys: ' + (authData ? Object.keys(authData).join(', ') : 'null'));\n}\n\nreturn {\n  json: {\n    user_id: userId,\n    company_id: companyId\n  }\n};"
      },
      "id": "prepare-query-data",
      "name": "Prepare Query Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  c.id,\n  c.user_id,\n  c.title,\n  c.created_at,\n  c.updated_at,\n  COUNT(m.id) as message_count,\n  MAX(m.created_at) as last_message_at,\n  (\n    SELECT m2.content \n    FROM messages m2 \n    WHERE m2.chat_id = c.id \n    ORDER BY m2.created_at DESC \n    LIMIT 1\n  ) as last_message\nFROM chats c\nLEFT JOIN messages m ON m.chat_id = c.id\nWHERE c.user_id = CAST('{{ $json.user_id }}' AS UUID)\n  {{ $json.company_id ? \"AND c.company_id = CAST('\" + $json.company_id + \"' AS UUID)\" : \"\" }}\nGROUP BY c.id, c.user_id, c.title, c.created_at, c.updated_at\nORDER BY COALESCE(MAX(m.created_at), c.updated_at) DESC\nLIMIT 100;",
        "options": {}
      },
      "id": "get-chats-list",
      "name": "Get Chats List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1650, 600],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\nconst chats = $input.all();\n\n// Frontend expects snake_case field names for consistency\nconst formattedChats = chats.map(item => {\n  const chat = item.json;\n  return {\n    id: chat.id,\n    user_id: chat.user_id,\n    title: chat.title || 'Без названия',\n    created_at: chat.created_at,\n    updated_at: chat.updated_at,\n    messageCount: parseInt(chat.message_count) || 0,\n    lastMessageAt: chat.last_message_at,\n    lastMessage: chat.last_message || null\n  };\n});\n\nreturn {\n  json: {\n    success: true,\n    data: formattedChats,\n    count: formattedChats.length,\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "format-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 600]
    },
    {
      "parameters": {
        "jsCode": "// Handle error from Get Chats List\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\nconst error = $input.item.json;\n\nreturn {\n  json: {\n    error: 'internal_error',\n    status: 500,\n    message: error.message || 'Failed to get chats list',\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "handle-db-error",
      "name": "Handle DB Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 700]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 500 }}"
        }
      },
      "id": "response-db-error",
      "name": "Respond DB Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 700]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "IF Extract Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Extract Error": {
      "main": [
        [
          {
            "node": "Respond Extract Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call auth.validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call auth.validate": {
      "main": [
        [
          {
            "node": "Parse Auth Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Auth Response": {
      "main": [
        [
          {
            "node": "IF Auth Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Auth Success": {
      "main": [
        [
          {
            "node": "Prepare Query Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Auth Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query Data": {
      "main": [
        [
          {
            "node": "Get Chats List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chats List": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle DB Error": {
      "main": [
        [
          {
            "node": "Respond DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T19:30:00.000Z",
  "versionId": "1"
}

