back/n8n/workflows/chat.create.json
{
  "name": "chat.create",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat-create",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "chat-create"
    },
    {
      "parameters": {
        "jsCode": "// Extract token from Authorization header, body, or query (fallback)\n// Проблема: заголовок Authorization может не прийти в webhook, используем fallback\nconst input = $input.item.json;\n\n// В n8n webhook body может быть в разных форматах:\n// 1. input.body (если это объект)\n// 2. input (если body уже распарсен)\n// 3. JSON.parse(input.body) если body это строка\nlet body = input.body || input;\n\n// Если body это строка, пытаемся распарсить\nif (typeof body === 'string') {\n  try {\n    body = JSON.parse(body);\n  } catch (e) {\n    // Если не JSON, оставляем как есть\n  }\n}\n\n// Если body все еще не объект, используем весь input\nif (typeof body !== 'object' || body === null) {\n  body = input;\n}\n\nconst headers = input.headers || {};\nconst query = input.query || {};\n\n// ПРИОРИТЕТ 1: Пробуем получить токен из body (для n8n webhooks это надежнее)\nlet authHeader = '';\nlet tokenSource = 'none';\nif (body && typeof body === 'object') {\n  if (body.session_token && typeof body.session_token === 'string' && body.session_token.trim().length > 0) {\n    authHeader = `Bearer ${body.session_token.trim()}`;\n    tokenSource = 'body.session_token';\n  } else if (body.token && typeof body.token === 'string' && body.token.trim().length > 0) {\n    authHeader = `Bearer ${body.token.trim()}`;\n    tokenSource = 'body.token';\n  } else if (body.authorization && typeof body.authorization === 'string' && body.authorization.trim().length > 0) {\n    const authValue = body.authorization.trim();\n    authHeader = authValue.startsWith('Bearer ') ? authValue : `Bearer ${authValue}`;\n    tokenSource = 'body.authorization';\n  }\n}\n\n// ПРИОРИТЕТ 2: Если токена нет в body, пробуем из заголовка Authorization\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  const headerAuth = headers.authorization || headers.Authorization || headers['authorization'] || headers['Authorization'] || '';\n  if (headerAuth && headerAuth.startsWith('Bearer ')) {\n    authHeader = headerAuth;\n    tokenSource = 'header.Authorization';\n  }\n}\n\n// ПРИОРИТЕТ 3: Если токена нет в body и заголовке, пробуем из query параметров\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  if (query.token && typeof query.token === 'string' && query.token.trim().length > 0) {\n    authHeader = `Bearer ${query.token.trim()}`;\n    tokenSource = 'query.token';\n  } else if (query.session_token && typeof query.session_token === 'string' && query.session_token.trim().length > 0) {\n    authHeader = `Bearer ${query.session_token.trim()}`;\n    tokenSource = 'query.session_token';\n  } else if (query.authorization && typeof query.authorization === 'string' && query.authorization.trim().length > 0) {\n    const authValue = query.authorization.trim();\n    authHeader = authValue.startsWith('Bearer ') ? authValue : `Bearer ${authValue}`;\n    tokenSource = 'query.authorization';\n  }\n}\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      error: 'unauthorized',\n      status: 401,\n      message: 'Missing or invalid Authorization header or token. Please ensure you are logged in.',\n      debug: {\n        headersKeys: Object.keys(headers),\n        hasAuth: !!authHeader,\n        authHeaderStart: authHeader ? authHeader.substring(0, 20) : 'null',\n        bodyType: typeof body,\n        bodyIsObject: typeof body === 'object' && body !== null,\n        bodyKeys: body && typeof body === 'object' ? Object.keys(body) : [],\n        queryKeys: Object.keys(query),\n        hasSessionToken: !!(body && typeof body === 'object' && body.session_token),\n        hasToken: !!(body && typeof body === 'object' && body.token),\n        hasAuthorization: !!(body && typeof body === 'object' && body.authorization),\n        hasHeaderAuth: !!(headers.authorization || headers.Authorization),\n        hasQueryToken: !!(query.token || query.session_token),\n        tokenSource: tokenSource,\n        inputKeys: Object.keys(input)\n      }\n    }\n  };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\nconst title = (body && typeof body === 'object' && body.title) ? body.title : 'New Chat';\n\nreturn {\n  json: {\n    token: token,\n    title: title,\n    tokenSource: tokenSource,\n    ip: headers['x-forwarded-for'] || headers['x-real-ip'] || 'unknown',\n    user_agent: headers['user-agent'] || 'unknown'\n  }\n};"
      },
      "id": "extract-token",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-extract-error",
      "name": "IF Extract Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "response-extract-error",
      "name": "Respond Extract Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.psayha.ru/webhook/auth-validate-v2",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Extract Token').item.json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "call-auth-validate",
      "name": "Call auth.validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON from text response (simplified version)\nconst input = $input.item.json;\n\n// Check for HTTP request errors or status codes >= 400\nif (input.error || (input.statusCode && input.statusCode >= 400)) {\n  return { \n    json: { \n      success: false, \n      error: 'unauthorized', \n      status: input.statusCode || 401, \n      message: input.error?.message || input.message || 'Auth validation request failed' \n    } \n  };\n}\n\n// Get response text - HTTP Request with responseFormat: 'text' returns data as string\nlet responseText = input.data || input.body || input;\n\n// If responseText is not a string, try to stringify\nif (typeof responseText !== 'string') {\n  if (typeof responseText === 'object' && responseText !== null) {\n    responseText = JSON.stringify(responseText);\n  } else {\n    responseText = String(responseText);\n  }\n}\n\n// If responseText is empty or just whitespace, return error\nif (!responseText || responseText.trim().length === 0) {\n  return { \n    json: { \n      success: false, \n      error: 'unauthorized', \n      status: input.statusCode || 401, \n      message: 'Empty auth response - token may be invalid or expired' \n    } \n  };\n}\n\n// Parse JSON\nlet parsedData;\ntry {\n  parsedData = JSON.parse(responseText);\n} catch (e) {\n  return { \n    json: { \n      success: false, \n      error: 'unauthorized', \n      status: input.statusCode || 401, \n      message: 'Failed to parse auth response: ' + responseText.substring(0, 200) \n    } \n  };\n}\n\n// Check if response is valid\nif (!parsedData || typeof parsedData !== 'object') {\n  return { \n    json: { \n      success: false, \n      error: 'unauthorized', \n      status: input.statusCode || 401, \n      message: 'Invalid auth response format' \n    } \n  };\n}\n\n// Return parsed data (may be success or error)\nreturn { json: parsedData };"
      },
      "id": "parse-auth-response",
      "name": "Parse Auth Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "workflowId": "rate-limit.check",
        "mode": "subWorkflow",
        "fieldsUi": {
          "values": [
            {
              "name": "user_id",
              "value": "={{ $('Parse Auth Response').item.json.data.user.id }}"
            },
            {
              "name": "endpoint",
              "value": "chat.create"
            }
          ]
        }
      },
      "id": "call-rate-limit",
      "name": "Call Rate Limit",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "rate-limit-ok",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-rate-limit-ok",
      "name": "IF Rate Limit OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status || 429 }}"
        }
      },
      "id": "response-rate-limit",
      "name": "Respond Rate Limit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $('Parse Auth Response').item.json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "no-error-check",
              "leftValue": "={{ $('Parse Auth Response').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-auth-success",
      "name": "IF Auth Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Parse Auth Response').item.json }}",
        "options": {
          "responseCode": "={{ $('Parse Auth Response').item.json.status || 401 }}"
        }
      },
      "id": "response-auth-error",
      "name": "Respond Auth Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "jsCode": "const authData = $('Parse Auth Response').item.json;\nconst titleNode = $('Extract Token').item.json;\n\nconst userId = authData?.data?.user?.id;\nconst companyId = authData?.data?.user?.company_id || null;\nconst title = titleNode?.title || 'New Chat';\n\nif (!userId) {\n  throw new Error('User ID not found in auth response');\n}\n\nreturn {\n  json: {\n    user_id: userId,\n    company_id: companyId,\n    title: title\n  }\n};"
      },
      "id": "prepare-chat-data",
      "name": "Prepare Chat Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chats (user_id, company_id, title, created_at, updated_at)\nVALUES ($1::uuid, $2::uuid, $3, NOW(), NOW())\nRETURNING id, user_id, company_id, title, created_at;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.company_id || null, $json.title] }}"
        }
      },
      "id": "create-chat",
      "name": "Create Chat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2050, 600],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare audit event data\nconst authData = $('Parse Auth Response').item.json;\nconst chatData = $('Create Chat').item.json;\nconst extractData = $('Extract Token').item.json;\n\n// Debug: проверяем наличие данных\nif (!authData || !authData.data || !authData.data.user) {\n  throw new Error('Auth data missing: ' + JSON.stringify(authData));\n}\n\nif (!chatData || !chatData.id) {\n  throw new Error('Chat data missing: ' + JSON.stringify(chatData));\n}\n\nconst userId = authData.data.user.id;\nconst chatId = chatData.id;\nconst title = extractData?.title || 'New Chat';\nconst ip = extractData?.ip || 'unknown';\nconst userAgent = extractData?.user_agent || 'unknown';\n\nreturn {\n  json: {\n    user_id: userId,\n    action: 'chat.created',\n    resource_type: 'chat',\n    resource_id: chatId,\n    metadata: JSON.stringify({ title: title }),\n    ip: ip,\n    user_agent: userAgent\n  }\n};"
      },
      "id": "prepare-audit-data",
      "name": "Prepare Audit Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_events (user_id, action, resource_type, resource_id, metadata, ip, user_agent)\nVALUES (\n  $1::uuid,\n  $2,\n  $3,\n  $4::uuid,\n  $5::jsonb,\n  $6,\n  $7\n)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$('Prepare Audit Data').item.json.user_id, $('Prepare Audit Data').item.json.action, $('Prepare Audit Data').item.json.resource_type, $('Prepare Audit Data').item.json.resource_id, $('Prepare Audit Data').item.json.metadata, $('Prepare Audit Data').item.json.ip, $('Prepare Audit Data').item.json.user_agent] }}"
        }
      },
      "id": "log-audit-event",
      "name": "Log Audit Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2450, 600],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "OPy15M2cOLEss5yi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if audit logging failed\nconst input = $input.item.json;\n\n// If this is an error response, log it but don't fail\nif (input.error || input.message) {\n  // Return error info for debugging, but don't throw\n  return {\n    json: {\n      audit_log_error: true,\n      error_message: input.error?.message || input.message || 'Unknown audit logging error',\n      error_data: input\n    }\n  };\n}\n\n// Success case - audit event was logged\nreturn {\n  json: {\n    audit_logged: true,\n    audit_event_id: input.id || null\n  }\n};"
      },
      "id": "check-audit-log",
      "name": "Check Audit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 600]
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\n// FIX: Берем данные напрямую из Create Chat, а не из Check Audit Log\nconst chatData = $('Create Chat').item.json;\n\nif (!chatData || !chatData.id) {\n  throw new Error('Chat data missing from Create Chat node');\n}\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      id: chatData.id,\n      user_id: chatData.user_id,\n      company_id: chatData.company_id,\n      title: chatData.title,\n      created_at: chatData.created_at\n    },\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "format-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2850, 600]
    },
    {
      "parameters": {
        "jsCode": "// Handle error from Create Chat\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\nconst error = $input.item.json;\n\nreturn {\n  json: {\n    error: 'internal_error',\n    status: 500,\n    message: error.message || 'Failed to create chat',\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "handle-db-error",
      "name": "Handle DB Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status || 500 }}"
        }
      },
      "id": "response-db-error",
      "name": "Respond DB Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2850, 700]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "IF Extract Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Extract Error": {
      "main": [
        [
          {
            "node": "Respond Extract Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call auth.validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call auth.validate": {
      "main": [
        [
          {
            "node": "Parse Auth Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Auth Response": {
      "main": [
        [
          {
            "node": "IF Auth Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Auth Success": {
      "main": [
        [
          {
            "node": "Call Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Auth Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Rate Limit": {
      "main": [
        [
          {
            "node": "IF Rate Limit OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Rate Limit OK": {
      "main": [
        [
          {
            "node": "Prepare Chat Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Data": {
      "main": [
        [
          {
            "node": "Create Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Chat": {
      "main": [
        [
          {
            "node": "Prepare Audit Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Data": {
      "main": [
        [
          {
            "node": "Log Audit Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Audit Event": {
      "main": [
        [
          {
            "node": "Check Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Audit Log": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle DB Error": {
      "main": [
        [
          {
            "node": "Respond DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T13:45:00.000Z",
  "versionId": "2"
}
