back/n8n/workflows/chat.create.json
{
  "name": "chat.create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat-create",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "chat-create"
    },
    {
      "parameters": {
        "jsCode": "// Extract token from Authorization header\nconst input = $input.item.json;\nconst body = input.body || input;\nconst headers = input.headers || {};\n\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      error: 'unauthorized',\n      status: 401,\n      message: 'Missing or invalid Authorization header'\n    }\n  };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\nconst title = body.title || 'New Chat';\n\nreturn {\n  json: {\n    token: token,\n    title: title\n  }\n};"
      },
      "id": "extract-token",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-extract-error",
      "name": "IF Extract Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "response-extract-error",
      "name": "Respond Extract Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lumon-n8n:5678/webhook/auth-validate-v2",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "call-auth-validate",
      "name": "Call auth.validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON from text response\nconst input = $input.item.json;\nlet responseText = input.data || input;\n\nif (typeof responseText === 'string') {\n  try {\n    return { json: JSON.parse(responseText) };\n  } catch (e) {\n    return { json: { success: false, error: 'Failed to parse auth response' } };\n  }\n}\n\nreturn { json: responseText };"
      },
      "id": "parse-auth-response",
      "name": "Parse Auth Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-auth-success",
      "name": "IF Auth Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', status: 401, message: 'Invalid or expired token' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "response-auth-error",
      "name": "Respond Auth Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Create Chat\n// Get data directly from Parse Auth Response (IF nodes don't pass data, only conditions)\nconst authData = $('Parse Auth Response').item.json;\nconst titleNode = $('Extract Token').item.json;\n\nlet userId = null;\nlet companyId = null;\n\n// Path 1: authData.data.user.id (from auth.validate response)\nif (authData?.data?.user?.id) {\n  userId = authData.data.user.id;\n  companyId = authData.data.user.company_id || null;\n}\n// Path 2: direct authData.user.id\nelse if (authData?.user?.id) {\n  userId = authData.user.id;\n  companyId = authData.user.company_id || null;\n}\n// Path 3: authData.user_id (direct property)\nelse if (authData?.user_id) {\n  userId = authData.user_id;\n  companyId = authData.company_id || null;\n}\n\nconst title = titleNode?.title || 'New Chat';\n\nif (!userId) {\n  // Return full structure to see what we have\n  throw new Error(JSON.stringify({\n    error: 'User ID not found',\n    authData: authData,\n    titleNode: titleNode\n  }, null, 2));\n}\n\nreturn {\n  json: {\n    user_id: userId,\n    company_id: companyId,\n    title: title\n  }\n};"
      },
      "id": "prepare-chat-data",
      "name": "Prepare Chat Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO chats (user_id, company_id, title, created_at, updated_at)\nVALUES (\n  CAST('{{ $json.user_id }}' AS UUID),\n  {{ $json.company_id ? \"CAST('\" + $json.company_id + \"' AS UUID)\" : \"NULL\" }},\n  '{{ $json.title }}',\n  NOW(),\n  NOW()\n)\nRETURNING id, user_id, company_id, title, created_at;",
        "options": {}
      },
      "id": "create-chat",
      "name": "Create Chat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1650, 600],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\nconst chatData = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      id: chatData.id,\n      user_id: chatData.user_id,\n      company_id: chatData.company_id,\n      title: chatData.title,\n      created_at: chatData.created_at\n    },\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "format-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 600]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 600]
    },
    {
      "parameters": {
        "jsCode": "// Handle error from Create Chat\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\nconst error = $input.item.json;\n\nreturn {\n  json: {\n    error: 'internal_error',\n    status: 500,\n    message: error.message || 'Failed to create chat',\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "handle-db-error",
      "name": "Handle DB Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 700]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 500 }}"
        }
      },
      "id": "response-db-error",
      "name": "Respond DB Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 700]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "IF Extract Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Extract Error": {
      "main": [
        [
          {
            "node": "Respond Extract Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call auth.validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call auth.validate": {
      "main": [
        [
          {
            "node": "Parse Auth Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Auth Response": {
      "main": [
        [
          {
            "node": "IF Auth Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Auth Success": {
      "main": [
        [
          {
            "node": "Respond Auth Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Chat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Data": {
      "main": [
        [
          {
            "node": "Create Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Chat": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle DB Error": {
      "main": [
        [
          {
            "node": "Respond DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T13:45:00.000Z",
  "versionId": "2"
}
