back/n8n/workflows/create-user.json
{
  "name": "Create User",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "create-user"
    },
    {
      "parameters": {
        "jsCode": "// Валидация и подготовка данных\nconst webhookData = $input.item.json;\nconst body = webhookData.body || webhookData;\n\nif (!body.telegram_id) {\n  throw new Error('telegram_id is required');\n}\n\n// Возвращаем данные для следующего шага\nreturn {\n  json: {\n    telegram_id: body.telegram_id,\n    username: body.username || null,\n    first_name: body.first_name || null,\n    last_name: body.last_name || null,\n    language_code: body.language_code || 'ru',\n    is_premium: body.is_premium || false\n  }\n};"
      },
      "id": "validate-user",
      "name": "Validate User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id FROM users WHERE telegram_id = {{ $json.telegram_id }}",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "check-user",
      "name": "Check User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {},
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Объединить данные проверки с исходными данными\nconst checkResult = $input.item?.json || {};\nconst validateData = $('Validate User').item.json;\n\nreturn {\n  json: {\n    existing_id: checkResult.id || null,\n    user_exists: !!checkResult.id,\n    telegram_id: validateData.telegram_id,\n    username: validateData.username,\n    first_name: validateData.first_name,\n    last_name: validateData.last_name,\n    language_code: validateData.language_code,\n    is_premium: validateData.is_premium\n  }\n};"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.user_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-exists",
      "name": "User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET username = '{{ $json.username }}', first_name = '{{ $json.first_name }}', last_name = '{{ $json.last_name }}', language_code = '{{ $json.language_code }}', is_premium = {{ $json.is_premium }}, updated_at = NOW() WHERE id = CAST('{{ $json.existing_id }}' AS UUID) RETURNING *",
        "options": {}
      },
      "id": "update-user",
      "name": "Update User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "users",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.telegram_id }}",
            "username": "={{ $json.username }}",
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "language_code": "={{ $json.language_code }}",
            "is_premium": "={{ $json.is_premium }}"
          }
        },
        "options": {}
      },
      "id": "insert-user",
      "name": "Insert User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 400],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Получить ID пользователя\nconst data = $input.item.json;\nreturn {\n  json: {\n    user_id: data.existing_id || data.id\n  }\n};"
      },
      "id": "get-id",
      "name": "Get User ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id, username, first_name, last_name, language_code, is_premium, created_at, updated_at FROM users WHERE id = CAST('{{ $json.user_id }}' AS UUID)",
        "options": {}
      },
      "id": "get-user",
      "name": "Get User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1650, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Форматирование ответа\nconst user = $input.item.json;\nreturn {\n  json: {\n    success: true,\n    data: user\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate User": {
      "main": [
        [
          {
            "node": "Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Update User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User ID": {
      "main": [
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}