back/n8n/workflows/create-user.json
{
  "name": "Create User",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "create-user"
    },
    {
      "parameters": {
        "jsCode": "// Валидация данных пользователя\nconst body = $input.item.json;\n\nif (!body.telegram_id) {\n  throw new Error('telegram_id is required');\n}\n\nreturn {\n  json: {\n    telegram_id: body.telegram_id,\n    username: body.username || null,\n    first_name: body.first_name || null,\n    last_name: body.last_name || null,\n    language_code: body.language_code || 'ru',\n    is_premium: body.is_premium || false\n  }\n};"
      },
      "id": "validate-user",
      "name": "Validate User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM users WHERE telegram_id = $1::bigint",
        "additionalFields": {
          "queryParameters": "={{ [$json.telegram_id] }}"
        },
        "options": {}
      },
      "id": "check-user",
      "name": "Check User Exists",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Lumon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-user-data",
              "name": "user_data",
              "value": "={{ $('Validate User').item.json }}",
              "type": "object"
            },
            {
              "id": "merge-check-id",
              "name": "existing_id",
              "value": "={{ $json.id }}",
              "type": "any"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "exists-condition",
              "leftValue": "={{ $json.existing_id }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-exists",
      "name": "User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "users",
        "updateKey": {
          "column": "id",
          "value": "={{ $json.existing_id }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.user_data.username }}",
            "first_name": "={{ $json.user_data.first_name }}",
            "last_name": "={{ $json.user_data.last_name }}",
            "language_code": "={{ $json.user_data.language_code }}",
            "is_premium": "={{ $json.user_data.is_premium }}"
          }
        },
        "options": {}
      },
      "id": "update-user",
      "name": "Update User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Lumon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "users",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.user_data.telegram_id }}",
            "username": "={{ $json.user_data.username }}",
            "first_name": "={{ $json.user_data.first_name }}",
            "last_name": "={{ $json.user_data.last_name }}",
            "language_code": "={{ $json.user_data.language_code }}",
            "is_premium": "={{ $json.user_data.is_premium }}"
          }
        },
        "options": {}
      },
      "id": "insert-user",
      "name": "Insert User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Lumon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "get-update-id",
              "name": "user_id",
              "value": "={{ $json.existing_id || $json.id }}",
              "type": "any"
            }
          ]
        },
        "options": {}
      },
      "id": "get-user-id",
      "name": "Get User ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id, username, first_name, last_name, language_code, is_premium, created_at, updated_at FROM users WHERE id = $1::uuid",
        "additionalFields": {
          "queryParameters": "={{ [$json.user_id] }}"
        },
        "options": {}
      },
      "id": "get-user",
      "name": "Get User Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1650, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Lumon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Форматирование ответа\nconst user = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      id: user.id,\n      telegram_id: user.telegram_id,\n      username: user.username,\n      first_name: user.first_name,\n      last_name: user.last_name,\n      language_code: user.language_code,\n      is_premium: user.is_premium,\n      created_at: user.created_at,\n      updated_at: user.updated_at\n    }\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate User": {
      "main": [
        [
          {
            "node": "Check User Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Exists": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Update User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User ID": {
      "main": [
        [
          {
            "node": "Get User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Data": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
