back/n8n/workflows/get-chat-history.json
{
  "name": "Get Chat History",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-chat-history",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "get-chat-history"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, chat_id, role, content, created_at FROM messages WHERE chat_id = $1::uuid ORDER BY created_at ASC LIMIT 100",
        "additionalFields": {
          "queryParameters": "={{ [$json.query?.chat_id || $json.chat_id] }}"
        },
        "options": {}
      },
      "id": "select-messages",
      "name": "Select Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Форматирование ответа для frontend\nconst messages = $input.all();\n\nif (messages.length === 0) {\n  return {\n    json: {\n      success: true,\n      data: []\n    }\n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    data: messages.map(item => item.json).map(msg => ({\n      id: msg.id,\n      chat_id: msg.chat_id,\n      role: msg.role,\n      content: msg.content,\n      timestamp: msg.created_at\n    }))\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Messages": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

