back/n8n/workflows/health-check-list.json
{
  "name": "health.check-list",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "health-check-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-health-check-list",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "health-check-list"
    },
    {
      "parameters": {
        "jsCode": "// Extract token from Authorization header\nconst input = $input.item.json;\nconst headers = input.headers || {};\n\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      error: 'unauthorized',\n      status: 401,\n      message: 'Missing or invalid Authorization header'\n    }\n  };\n}\n\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn {\n  json: {\n    token: token\n  }\n};"
      },
      "id": "extract-token",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-extract-error",
      "name": "IF Extract Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "response-extract-error",
      "name": "Respond Extract Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.psayha.ru/webhook/admin-validate",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Extract Token').item.json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "call-admin-validate",
      "name": "Call admin.validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const httpResponse = $input.item.json;\nconst responseText = httpResponse.data;\n\nlet parsedData;\nif (typeof responseText === 'string') {\n  try {\n    parsedData = JSON.parse(responseText);\n  } catch (e) {\n    return { json: { success: false, error: 'Failed to parse admin response' } };\n  }\n} else {\n  parsedData = responseText;\n}\n\nif (!parsedData || Object.keys(parsedData).length === 0) {\n  return { json: { success: false, error: 'Empty admin response' } };\n}\n\nif (parsedData.success === undefined) {\n  return { json: { success: false, error: 'Invalid admin response format' } };\n}\n\nreturn { json: parsedData };"
      },
      "id": "parse-admin-response",
      "name": "Parse Admin Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $('Parse Admin Response').item.json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-admin-success",
      "name": "IF Admin Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'unauthorized', status: 401, message: 'Invalid or expired admin token' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "response-admin-error",
      "name": "Respond Admin Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, service_name, status, response_time_ms, error_message, checked_at, metrics\nFROM health_checks\nORDER BY checked_at DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "get-health-checks",
      "name": "Get Health Checks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1450, 600],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT overall_status, services_status, system_metrics, last_checked_at\nFROM system_status\nORDER BY last_checked_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "get-system-status",
      "name": "Get System Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1450, 700],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Manual UUID v4 generator\nfunction generateUUIDv4() {\n  const hex = '0123456789abcdef';\n  let uuid = '';\n  for (let i = 0; i < 36; i++) {\n    if (i === 8 || i === 13 || i === 18 || i === 23) {\n      uuid += '-';\n    } else if (i === 14) {\n      uuid += '4';\n    } else if (i === 19) {\n      uuid += hex[(Math.random() * 4 | 8)];\n    } else {\n      uuid += hex[Math.random() * 16 | 0];\n    }\n  }\n  return uuid;\n}\n\nconst healthChecks = $('Get Health Checks').all();\nconst systemStatus = $('Get System Status').first()?.json || null;\n\nconst formattedChecks = healthChecks.map(item => {\n  const check = item.json;\n  return {\n    id: check.id,\n    service_name: check.service_name,\n    status: check.status,\n    response_time_ms: check.response_time_ms,\n    error_message: check.error_message,\n    checked_at: check.checked_at,\n    metrics: typeof check.metrics === 'string' ? JSON.parse(check.metrics) : check.metrics\n  };\n});\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      health_checks: formattedChecks,\n      system_status: systemStatus ? {\n        overall_status: systemStatus.overall_status,\n        services_status: typeof systemStatus.services_status === 'string' ? JSON.parse(systemStatus.services_status) : systemStatus.services_status,\n        system_metrics: typeof systemStatus.system_metrics === 'string' ? JSON.parse(systemStatus.system_metrics) : systemStatus.system_metrics,\n        last_checked_at: systemStatus.last_checked_at\n      } : null\n    },\n    traceId: generateUUIDv4()\n  }\n};"
      },
      "id": "format-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 600]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 600]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "IF Extract Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Extract Error": {
      "main": [
        [
          {
            "node": "Respond Extract Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call admin.validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call admin.validate": {
      "main": [
        [
          {
            "node": "Parse Admin Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Admin Response": {
      "main": [
        [
          {
            "node": "IF Admin Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Admin Success": {
      "main": [
        [
          {
            "node": "Respond Admin Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Health Checks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get System Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Health Checks": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Status": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T20:55:00.000Z",
  "versionId": "1"
}

