back/n8n/workflows/rate-limit.check.json
{
  "name": "rate-limit.check",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract user_id and endpoint from input\nconst input = $input.item.json;\n\nif (!input.user_id) {\n  return {\n    json: {\n      error: 'bad_request',\n      status: 400,\n      message: 'Missing user_id for rate limiting',\n      allowed: false\n    }\n  };\n}\n\nif (!input.endpoint) {\n  return {\n    json: {\n      error: 'bad_request',\n      status: 400,\n      message: 'Missing endpoint for rate limiting',\n      allowed: false\n    }\n  };\n}\n\n// Define rate limits per endpoint\nconst rateLimits = {\n  'chat.create': 30,\n  'chat.save-message': 30,\n  'analytics': 100\n};\n\nconst limit = rateLimits[input.endpoint] || 30; // Default to 30 req/min\n\nreturn {\n  json: {\n    user_id: input.user_id,\n    endpoint: input.endpoint,\n    limit: limit,\n    window_minutes: 1\n  }\n};"
      },
      "id": "extract-params",
      "name": "Extract Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-params-error",
      "name": "IF Params Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "// Return error response\nconst error = $input.item.json;\n\nreturn {\n  json: {\n    allowed: false,\n    error: error.error,\n    message: error.message,\n    status: error.status\n  }\n};"
      },
      "id": "return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT COUNT(*) as request_count\nFROM rate_limits\nWHERE user_id = '{{ $json.user_id }}'\n  AND endpoint = '{{ $json.endpoint }}'\n  AND created_at > NOW() - interval '{{ $json.window_minutes }} minutes';",
        "options": {}
      },
      "id": "check-rate-limit",
      "name": "Check Rate Limit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 500],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if rate limit exceeded\nconst params = $('Extract Params').item.json;\nconst result = $input.item.json;\n\nconst requestCount = parseInt(result.request_count) || 0;\nconst limit = params.limit;\n\nif (requestCount >= limit) {\n  return {\n    json: {\n      allowed: false,\n      error: 'rate_limit_exceeded',\n      message: `Rate limit exceeded: ${requestCount}/${limit} requests per minute`,\n      status: 429,\n      limit: limit,\n      current: requestCount,\n      retry_after: 60\n    }\n  };\n}\n\nreturn {\n  json: {\n    allowed: true,\n    user_id: params.user_id,\n    endpoint: params.endpoint,\n    limit: limit,\n    current: requestCount\n  }\n};"
      },
      "id": "evaluate-limit",
      "name": "Evaluate Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-allowed",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-allowed",
      "name": "IF Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "jsCode": "// Return rate limit exceeded\nconst error = $input.item.json;\n\nreturn {\n  json: {\n    allowed: false,\n    error: error.error,\n    message: error.message,\n    status: error.status,\n    limit: error.limit,\n    current: error.current,\n    retry_after: error.retry_after\n  }\n};"
      },
      "id": "return-rate-limit-exceeded",
      "name": "Return Rate Limit Exceeded",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO rate_limits (user_id, endpoint, created_at)\nVALUES (\n  '{{ $json.user_id }}',\n  '{{ $json.endpoint }}',\n  NOW()\n);",
        "options": {}
      },
      "id": "record-request",
      "name": "Record Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1450, 600],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return success\nconst data = $('Evaluate Limit').item.json;\n\nreturn {\n  json: {\n    allowed: true,\n    limit: data.limit,\n    current: data.current + 1,\n    remaining: data.limit - data.current - 1\n  }\n};"
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 600]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "IF Params Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Params Error": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit": {
      "main": [
        [
          {
            "node": "Evaluate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Limit": {
      "main": [
        [
          {
            "node": "IF Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Allowed": {
      "main": [
        [
          {
            "node": "Return Rate Limit Exceeded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Request": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T18:00:00.000Z",
  "versionId": "1"
}
