back/n8n/workflows/rate-limit.check.json
{
  "name": "rate-limit.check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rate-limit-check",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "rate-limit-check"
    },
    {
      "parameters": {
        "jsCode": "// Extract user_id, endpoint, and limit from input\nconst input = $input.item.json;\nconst body = input.body || input;\n\nconst userId = body.user_id;\nconst endpoint = body.endpoint || '/webhook/unknown';\nconst limit = body.limit || 30; // default 30 requests per minute\nconst windowMinutes = body.window_minutes || 1;\n\nif (!userId) {\n  return {\n    json: {\n      error: 'bad_request',\n      status: 400,\n      message: 'Missing user_id'\n    }\n  };\n}\n\n// Calculate window start (round down to minute)\nconst now = new Date();\nconst windowStart = new Date(now.getFullYear(), now.getMonth(), now.getDate(), now.getHours(), Math.floor(now.getMinutes() / windowMinutes) * windowMinutes, 0, 0);\n\nreturn {\n  json: {\n    user_id: userId,\n    endpoint: endpoint,\n    limit: limit,\n    window_start: windowStart.toISOString()\n  }\n};"
      },
      "id": "prepare-rate-limit-data",
      "name": "Prepare Rate Limit Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-prepare-error",
      "name": "IF Prepare Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "response-prepare-error",
      "name": "Respond Prepare Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO rate_limits (user_id, endpoint, request_count, window_start)\nVALUES (\n  CAST('{{ $json.user_id }}' AS UUID),\n  '{{ $json.endpoint }}',\n  1,\n  '{{ $json.window_start }}'::timestamptz\n)\nON CONFLICT (user_id, endpoint, window_start)\nDO UPDATE SET request_count = rate_limits.request_count + 1\nRETURNING request_count;\n",
        "options": {}
      },
      "id": "upsert-rate-limit",
      "name": "Upsert Rate Limit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 500],
      "credentials": {
        "postgres": {
          "id": "supabase_postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if rate limit exceeded\nconst rateLimit = $input.item.json;\nconst limit = $('Prepare Rate Limit Data').item.json.limit;\nconst count = rateLimit.request_count || 0;\n\nconst allowed = count <= limit;\n\nreturn {\n  json: {\n    allowed: allowed,\n    count: count,\n    limit: limit,\n    remaining: Math.max(0, limit - count)\n  }\n};"
      },
      "id": "check-rate-limit",
      "name": "Check Rate Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "allowed-check",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-allowed",
      "name": "IF Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'rate_limit_exceeded', status: 429, message: `Too many requests. Limit: ${$json.limit}/minute`, retryAfter: 60 }) }}",
        "options": {
          "responseCode": 429
        }
      },
      "id": "response-rate-limit-error",
      "name": "Respond Rate Limit Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-allowed",
      "name": "Respond Allowed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 600]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Rate Limit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Rate Limit Data": {
      "main": [
        [
          {
            "node": "IF Prepare Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Prepare Error": {
      "main": [
        [
          {
            "node": "Respond Prepare Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Rate Limit": {
      "main": [
        [
          {
            "node": "Check Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit": {
      "main": [
        [
          {
            "node": "IF Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Allowed": {
      "main": [
        [
          {
            "node": "Respond Rate Limit Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-05T00:00:00.000Z",
  "versionId": "1"
}

